[2013-04-28 22:38] weepy opened #3 "is it possible to invert a patch"
I.e.

  new_obj = apply(obj, patch)

  remove(new_obj, path)  // == obj

[2013-04-30 14:07] Starcounter-Jack opened #4 "Date comparison always yields a patch"
Originally described [here](https://github.com/Starcounter-Jack/JSON-Patch/pull/2)

When you do a comparison on an object that includes dates, all dates end up resulting in patches. This is because JSON.parse(JSON.stringify)) is used to generate an internal cache object, but that does not result in an object with identical values. Dates get converted to strings:

[code]

[2013-04-30 14:15] #3 closed, assigned to nobody

[2013-05-22 09:23] ghost opened #5 "Problem when observing multiple objects with same structure"
When observing multiple obects with the same structure the callback is triggerd on non changed objects.

**How to reproduce**

[code]

[2013-05-31 09:06] #5 closed, assigned to warpech

[2013-06-08 07:20] Starcounter-Jack opened #9 "Add ready-made minified versions"

[2013-06-13 07:51] warpech opened #10 "Duplex version does not work after NPM changes"
Support for NPM (#8) is a great addition but it breaks client side usage. **test-duplex.html** fails at all tests with error `Uncaught ReferenceError: exports is not defined`

[2013-06-20 14:34] dalssoft opened #11 "Using a Object.observe polyfill"
Hi,

Isn't a different concern for this project to have its own Object.observer? Wouldn't be better if it uses a external module to do it or spin off the current one?

https://github.com/jdarling/Object.observe

Even further, is is really necessary to observe a object to create a diff? Wouldn't be the responsibility of the ones using this module to know when and where to make a diff? So, is the co

[2013-07-03 17:59] #10 closed, assigned to nobody

[2013-07-05 20:33] Starcounter-Jack opened #13 "Spin off observer"

[2013-07-05 20:34] #11 closed, assigned to Starcounter-Jack

[2013-07-05 20:35] #4 closed, assigned to Starcounter-Jack

[2013-08-12 14:27] warpech opened #14 "Generated patch contains array `length`"
In native Object.observe version (Chrome 28 & 30), array `length` is reported as part of the change records.

I don't think this is an error in Chrome, but I think JSON-Patch should filter out `length` from it's own generated patch

See http://jsfiddle.net/U4mZJ/3/

For a sample array, generated patch is:

[code]

I will fix this soon

[2013-08-13 08:26] warpech opened #15 "Address field shows null"
In response from the server, To and From address come as `null`:

[code]

Even if I update it with a new value (patch request), server still restores the `null` value.

[2013-08-13 08:26] #15 closed, assigned to nobody

[2013-08-13 09:17] psmolenski opened #16 "Patch arrays generated after removing elements differs"
If we remove items from an array using `Array.prototype.splice()` the order of patches generated by `jsonpatch.generate()` differs, depending on whether `jsonpatch.observe()` uses native `Object.observe` or a shim.

Lets take a sample test case:

<pre>
it('should generate the same patch using Object.observe and shim after removing items from array',
function() {
      var arr1 = [
        ["Albert

[2013-08-24 07:10] gabor-s opened #18 "jsonpatch.generate modifies observed object"
Hi,

if I call jsonpatch.generate() the first time it generates the patches normally, but modifies the observed object, so the subsequent calls to jsonpatch.generate() don't generate any patches. Is it intentional, or is it a bug?

Regards
Gábor

[2013-10-11 21:51] #14 closed, assigned to nobody

[2013-10-16 12:29] #16 closed, assigned to nobody

[2013-10-24 10:04] psmolenski opened #20 "Registering the same callback multiple times"
I've noticed a quite important inconsistency in the way JSON-Patch handles registering the same callback multiple times, on the same observed object.

It turns out, that registering the same callback multiple times, on the same object using `jsonpatch.observe`, which takes advantage of native `Object.observe` function, causes callback to be invoked the same number of times, if any changes occur in

[2013-10-28 09:03] #20 closed, assigned to nobody

[2014-02-25 04:30] jamesplease opened #21 "Add to the Bower registry"
[Shouldn't take more than a minute](http://bower.io/#defining-a-package)

[2014-03-19 19:41] Starcounter-Jack opened #22 "Relabel the current bits as version 1.0"
Maybe now is a good time to consider this a 1.0 release

[2014-03-23 07:22] amccausl opened #23 "Fix application of '-' pointer in array"
Excerpt from JSON-patch spec (section 4.1):

[code]

[code]

I think it's reasonable to not generate hyphen patches, but it should be possible to apply them.

I think change to https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch.js#L91 would work as follows:

[code]

I can create formal pull request with updated tests if you would prefer.  What's your build process?

[2014-03-25 17:58] brailateo opened #24 "Is there a chance to obtain a diff between obj1 and obj2?"
My application need to get a diff between two different objects, obj1 and obj2 !
Is there a syntax to use it like that?
I don't have an "original object" that is modified at run-time, in order to "observe" it!
I load obj1 from a database and build obj2 from a form, and need to have the diff!
Thanks,
Teo

[2014-04-03 09:49] #24 closed, assigned to nobody

[2014-04-16 19:50] #21 closed, assigned to nobody

[2014-04-16 19:52] #13 closed, assigned to Starcounter-Jack

[2014-04-25 21:38] sonnyp opened #28 "Compare method isn't exported on node"
[code]

[2014-05-09 18:15] joshua-mcginnis opened #29 "feature request: patch validator"
Thanks for this project.

A nice feature would be to validate that a patch document is a valid patch doc. This would allow users to pre-validate that the client sent a valid patch document before the server uses it.

Something like:
`jsonpatch.isValid(patch); //true = valid, false = invalid`

Or you could return errors, but that might be difficult. Ultimately, if a client sends a bad patch, we're

[2014-05-28 20:20] maca opened #30 "TypeError: Object.keys called on non-object..."
when null replaces an object.

jsonpatch.compare({a: {}}, {a: null});

[2014-05-28 20:27] maca opened #31 "Wrong patch when substituting an object for an array?"
[code]

Shouldn't be the empty object replaced with the array? the value is no longer an object.

[code]

[2014-06-10 00:49] davidpolberger opened #32 "Undefined properties cause an exception to be thrown"
Consider the following code:

[code]

JSON-Patch throws a SyntaxError exception when trying to generate the patch at line 421 of json-patch-duplex.js (in the function <code>_generate</code>):

[code]

<code>obj[key]</code> is <code>undefined</code>, causing <code>JSON.stringify()</code> to return <code>undefined</code>, which <code>JSON.parse()</code> cannot handle ("Unexpected token u").

The exp

[2014-06-18 11:08] izonder opened #34 "The compare function creates non-deep patch"
In this test patch has no the 'contactDetails' field:

[code]

//// output
[Object, Object, Object, Object]
0: Object
op: "remove"
path: "/num"
**proto**: Object
1: Object
op: "replace"
path: "/lastName"
value: "test"
**proto**: Object
2: Object
op: "replace"
path: "/firstName"
value: "Ivan"
**proto**: Object
3: Object
op: "add"
path: "/key"
value: Array[0]
**proto**: Object
length: 4
**proto**: A

[2014-06-20 07:03] sonnyp opened #39 "test op will fail if 2 objects are ordered differently"
Spec:
http://tools.ietf.org/html/rfc6902#section-4.6

Implementation:

[code]

It doesn't work if 2 arrays/objects are equals (from the RFC definition) but ordered differently.

[code]

[2014-06-20 14:31] sonnyp opened #40 "applying a patch on root fails"
[code]

But I'm not sure it makes sense to support the root path.
It seems RFC 6902 lacks a word or too about it :tongue:  .
- `add` and `replace` ops would replace the complete document
- `test` would test for equality as for any other value
- what about of `move`, `copy` and `delete`?

[2014-06-20 16:09] jamesplease opened #42 "Support multiple callbacks"
[code]

It should execute both functions.

[2014-06-26 22:46] warpech opened #45 "Replace operation cannot be applied to a root path"
The following code does not work correctly:

[code]

Expected result `obj`:

[code]

Actual result `obj`:

[code]

[2014-07-21 08:26] zxc122333 opened #50 "please publish 0.3.8 to NPM"
tks

[2014-07-21 08:35] #50 closed, assigned to nobody

[2014-07-21 09:50] #34 closed, assigned to nobody

[2014-07-21 19:40] tjwebb opened #51 "json-patch breaks in Chrome 36"
Chrome 36 introduced native `Object.observe` implementation and I think it may be conflicting with yours: http://www.chromestatus.com/features/6147094632988672

I am still researching the issue and will offer more details as I find them.

[2014-07-28 10:07] alex3683 opened #52 "jsonpatch.compare should not modify the mirror object"
I totally understand that `jsonpatch.generate` modifies the objects it watches to always only detect most recent changes (as discussed in #18 ) of an object. In my opinion this should not be the case for `jsonpatch.compare` as I explicitly use this method with objects that are not under control of jsonpatch observers. Thus modification of these objects should be under my control as well.

[2014-08-04 14:31] #40 closed, assigned to nobody

[2014-08-20 04:27] skotchio opened #54 "Wrong updating document when removing several array elements"
I don't know does it issue related to fast-json-path directly but hope you could give some advices. Let's say we have the following document for patching:

[code]

And trying to remove `"bar"` and `"baz"` elements in single operations batch:

[code]

I'm expecting to get the following result:

[code]

But rather then I get the following:

[code]

I understand that after applying first operation `{

[2014-08-21 12:03] #54 closed, assigned to nobody

[2014-08-21 12:13] #28 closed, assigned to nobody

[2014-08-21 12:37] #51 closed, assigned to nobody

[2014-08-21 12:37] #39 closed, assigned to nobody

[2014-08-21 12:45] #45 closed, assigned to nobody

[2014-09-11 12:53] TigerC10 opened #55 "Remove sourceMappingURL Comment"
I'm compiling all of my JS files into a single file with grunt, and the following line is forcing the browser to attempt to download a file that does not exist:
`//# sourceMappingURL=json-patch.min.js.map`

Manually specifying this in the file is not required, any browser that supports map files will automatically look for them in the same directory.  It's only required if you want to put the map

[2014-09-16 09:02] #23 closed, assigned to nobody

[2014-09-24 07:55] skotchio opened #56 "Ho do you patch your JSON in your projects"
Sorry for the question here but I'm very interested in how do you guys patch your JSON document in your projects in production?

How do you store your documents (Redis, pure json files, MongoDB or something else)? Please share your experience or point me right direction.

[2014-10-20 06:22] skotchio opened #57 "Do you plan to support OT (Operation Transformation) feature?"
Let me explain my question. I've found livedb project https://github.com/share/livedb that make possible to issue partial updating of big JSON tree with OP supporting.

At now livedb support several ottypes https://github.com/ottypes among which json0 https://github.com/ottypes/json0

Do you plan to contribute this project to allow possibility make OT operations with json-patch?

[2014-11-26 14:51] #52 closed, assigned to nobody

[2014-11-26 14:55] #18 closed, assigned to nobody

[2014-11-26 15:11] #55 closed, assigned to nobody

[2014-11-26 15:12] #9 closed, assigned to nobody

[2014-12-08 20:19] wolfgang42 opened #60 "{"op":"add"} has no value if the value is undefined."
RFC 6902, section 4.1 ("add") says: "The operation object MUST contain a "value" member whose content specifies the value to be added."

jsonpatch.compare() can, however, produce an add operation with no value when the value is undefined.

Test case:
[code]
Result: `Error: 'value' MUST be defined`

[2015-01-05 23:38] #30 closed

[2015-01-05 23:39] jmeas opened #62 "Add tests for replacing an object with null"
#35 was merged w.o. tests

[2015-01-05 23:45] warpech commented on #62
Because it was submitted without tests. I added my own tests in the following commit so it should be good to go. Thanks!

[2015-01-05 23:45] #62 closed

[2015-01-05 23:54] jmeas commented on #62
:+1: Nice

[2015-01-12 14:09] warpech commented on #29
I have pushed to `master` my take on this, which is a generalised version of changes proposed by @joshua-mcginnis, @sonnyp and others.

Please share your thoughts. Below is the description of the new method (excerpt from README.md)

- - - - - - - -

Validating a sequence of patches:
[code]

- - - - - - - -

#### jsonpatch.validate (`patches` Array, `tree` Object (optional)) : `errors` Array

Avail

[2015-01-12 14:43] warpech commented on #60
Please note that `undefined` is not a valid value in JSON (ECMA-404).

Theoretically we could ditch checking via `undefined` for `hasOwnProperty`, but that would have performance implications: http://jsperf.com/hasownproperty-vs-undefined so I prefer to stick to the standard

[2015-01-12 14:52] sonnyp commented on #29
@warpech cool.
However I think the initial multiple option from my PR remains useful. User might not be interested in errors and might want break validation after first error.

[2015-01-12 15:04] warpech commented on #60
I think that actually the right solution is that `jsonpatch.compare` should create:

[code]

WDYT?

[2015-01-12 15:05] warpech commented on #60
Related: #32

[2015-01-12 15:06] sonnyp commented on #60
@warpech interesting.

I think we should throw an error for ```undefined```. Hard to do now as it would break lot of code though.

[2015-01-12 15:07] warpech commented on #32
We could handle it somehow in `generate` step. My idea is that when a change to `undefined` is detected, `jsonpatch.generate` reports it as a `remove` operation. What do you think?

[2015-01-12 15:09] jmeas commented on #32
@sonnyp [has a convincing argument](https://github.com/Starcounter-Jack/Fast-JSON-Patch/pull/36#issuecomment-46680484) that we should not handle invalid JSON values. I've been persuaded. What do you think, @warpech?

[2015-01-12 15:11] sonnyp commented on #32
@jmeas We shouldn't handle undefined in a JSON Patch document (see https://github.com/Starcounter-Jack/Fast-JSON-Patch/issues/32), however not sure what to do about a undefined in a JavaScript object.

[2015-01-12 15:13] jmeas commented on #32
Ah, okay. Sounds good :+1:

[2015-01-12 15:25] sonnyp commented on #60
See https://github.com/Starcounter-Jack/Fast-JSON-Patch/issues/32#issuecomment-69583594

[2015-01-12 17:06] warpech commented on #29
@sonnyp, you are right about the `add` operation:

      that member's value is replaced.

I will fix that.

My motivation for removing the `multiple` option was to have only one behaviour that suits all needs. If you just want to know if there are no errors, check `errors.length === 0`. Otherwise you can iterate over the array to use the detailed information about what and where is the error. I t

[2015-01-12 17:12] sonnyp commented on #29
@warpech the use case is to stop validation after first error, so removing multiple doesn't suit my needs.
What's wrong with returning an array of length 1 if multiple is set to false?

"both harder to learn " just a flag
"and maintain (for me)" how hard is it to maintain```if (options.multiple === false) ... break```; plus I wrote tests

[2015-01-12 17:50] wolfgang42 commented on #60
Indeed, this is a duplicate of #36; I missed this because I was looking specifically for `{"op":
"add"}`. Personally, I think that it should not be possible for fast-json-patch to emit an invalid json-patch; in this case, it ought to raise an error informing the programmer that `undefined` is invalid JSON instead.

[2015-01-13 07:34] warpech commented on #29
I appreciate your contribution so I want to reflect your needs. Could you describe your use case a little bit more?

For me, invalid patches are rare and fatal errors, so the efficiency of returning just the first error is irrelevant.

[2015-01-13 08:43] sonnyp commented on #29
If you accept incoming patches from untrusted source it allow to prevent process from blocking if a large faulty patch is being validated.

[2015-01-13 08:53] sonnyp commented on #60
@wolfgang42 +1

[2015-01-13 09:27] warpech commented on #29
I start to get the point. So I guess you are using it on server? Is it in Redbooth?

I think we can:
- add a `stopOnFirstError` boolean parameter
- expose `_validate` method so you can overwrite it if you want to add custom validations (I find it useful for myself)

[2015-01-13 09:40] sonnyp commented on #29
@warpech we don't currently use it at redbooth. Yes I use it server side.
Sounds good, thanks. Would you like me to do the PR?

[2015-01-13 10:06] warpech commented on #29
No worries, I will do it and let you do the testing :)

[2015-01-13 13:22] warpech commented on #29
@sonnyp Pushed. Would you take a look at the commit https://github.com/Starcounter-Jack/Fast-JSON-Patch/commit/b64474b889ced52f8b64b477e0e143448d0a48f8 and share your thoughts?

[2015-01-28 05:55] Xiot opened #64 "apply() only returns result of last operation"
I am using the `test` operation for some optimistic concurrency, and I noticed that the result from the apply method only takes into consideration the last operation.

From RFC-6902

[code]

Therefore the apply should at the very least return false if any operation fails.
Currently the `result` variable is only ever set and returned.

[2015-01-29 13:48] warpech commented on #29
I have reworked the validation. The result is a faster and simpler API.

Summary of changes:
- `jsonpatch.validate` returns and error object now
- `jsonpatch.apply` with third parameter set to `true` throws an error if it encounters an invalid patch

This should please @sonnyp - only the first error is returned now.

See the changes at branch https://github.com/Starcounter-Jack/JSON-Patch/tree/iss

[2015-02-02 03:49] Pavek opened #65 "should generate nice remove op on array.splice"
Here's the test that fails:

[code]

Now it fails as following:

[code]

[2015-02-09 07:43] warpech commented on #29
Merged to master

[2015-02-16 18:48] warpech commented on #29
Released in 0.5.1.

See https://github.com/Starcounter-Jack/JSON-Patch/blob/master/README.md for API and tests for examples

[2015-02-16 18:48] #29 closed

[2015-03-02 13:33] oleggen commented on #55
How and where?

[2015-03-02 13:48] TigerC10 commented on #55
@oleggen as of version 0.5.0 there's no longer an issue with sourceMappingURL.

[2015-03-02 15:10] oleggen commented on #55
I'm on prepros 5.2.0 and it seems to be the issue here:
http://vetbakfar.co.il/wp/

[2015-03-02 15:15] warpech commented on #55
@oleggen sorry but this does not have anything to do with the library hosted in this repository. Perhaps you are searching for Prepros discussion forums: http://discuss.prepros.io/

[2015-03-02 15:47] oleggen commented on #55
Ho.  right -thanks :)

[2015-03-08 16:49] winduptoy commented on #65
Same issue here.

[2015-03-10 06:20] xiaomao155 commented on #55
我也是这种问题 谁能帮帮我

[2015-03-10 06:29] TigerC10 commented on #55
这是解决

[2015-03-12 15:05] kdabir opened #66 "reading value at path using jsonpointer"
I am looking for a way, without introducing a new library, to read value at given path using json-pointer notation. Something like `jsonpatch.get(object, "/pointer/to/key") ` to return value at that path.

I know it's really neither  patching's responsibility, nor it's specified anywhere in RFC but if we have such mechanism(method), it can be very useful.

[2015-03-13 14:17] biofractal commented on #64
I too am having trouble getting my 'test' operations to be respected. This issue has been open a while, which surprises me as it would appear that a core principle of RFC-6902 is being violated. To reiterate, according to the spec a sequence of patches should be atomic:

_From RFC-6902_

This does not appear to be the case as the following test illustrates:

**original document**
[code]

**patches

[2015-03-18 09:05] mrenvoize opened #67 "Compare to cujojs/jiff"
In your readme you compare to a two out of the three other json-patch libraries mentioned on jsonpatch.com. Any chance you could add the third one to the comparison?

[2015-03-23 10:14] beetaa opened #68 "can I use JSON-Patch for array this way?"
assume that there's an object like:

[code]

if pets' nickname is unique, can I use patch like ``{op: "replace", path: "/pets[nickname=wabit]/age", value: "9"}`` to alter **wabit**'s age instead using ``{op: "replace", path: "/pets/1/age", value: "9"}`` because sometimes I don't know the array order.

[2015-03-23 18:45] Starcounter-Jack commented on #68
No. The JSON Patch behavior is standardized in RFC6902, so I'm afraid we cannot change the way replace patches work.

Sent from my iPhone

[2015-03-24 03:31] beetaa commented on #68
Thank you Jack, but how about extending RFC6902 some more features? just call ``RFC6902-x``。

[2015-03-24 09:51] tomalec commented on #66
Thanks for the idea @kdabir. We already thought about it with @warpech, as JSON Pointer is another [RFC6901](https://tools.ietf.org/html/rfc6901) to cover, which in fact we somehow implement internally, but we use it in other projects.
There are few thing to decide:
1. Should we provide it as part of `jsonpatch`, or as isolated micro lib?
2. Should we then use this separated method/lib in `jsonpat

[2015-03-24 10:05] tomalec commented on #68
I believe we should serve tiny lib that do one job, and do it well and blazing fast ;)
With tiny support of jsonpointer #66, and native `Array.prototype.filter` I would suggest something like
[code]

Or write completely separated concept of JSON-CSS-Pointer (extended https://tools.ietf.org/html/rfc6901), and then use it like

[code]

[2015-03-24 10:19] warpech commented on #66
It is actually implemented internally, but not returned to the caller. This would be the way to use it:
[code]

Not the most beautiful API but is a low hanging fruit

[2015-03-24 14:34] kdabir commented on #66
Is `_get` available for external use? I am trying the code by @warpech in our codebase, it doesn't seem to work.

[2015-03-26 00:46] beetaa commented on #68
wow! nice answer, @tomalec , thank you very much! I completely agree with your points.

[2015-03-27 02:19] winduptoy commented on #62
@jmeas Wait a minute... I'm on 0.5.1, but when I call
`[ { op: 'replace', path: '/foo', value: 'whatever' } ]`
on
`{foo: null}`
I get the error: "Cannot perform the operation at a path that does not exist".

Is this issue talking about the same thing, or just objects?

[2015-03-27 02:23] winduptoy opened #69 "Replacing null returns error"
@Starcounter-Jack I'm on 0.5.1.

**My object:** `{foo: null}`
**My patch:** `[ { op: 'replace', path: '/foo', value: 'whatever' } ]`
**Returns:** "Cannot perform the operation at a path that does not exist".
**Expected:** `{foo: 'whatever'}`

[2015-03-27 13:01] jmeas commented on #62
Dunno, I stopped using this lib

[2015-03-27 13:20] winduptoy commented on #62
@jmeas Any recommendations on a better one? Development has really slowed down on this one.

[2015-03-27 13:24] tomalec commented on #68
@beetaa Could we close this issue?

Feel free to vote, and comment at #66.

[2015-03-27 13:48] jmeas commented on #62
I wound up realizing a JS object differ (rather than JSON) better suited my needs. I don't know of a better JSON object differ.

[2015-03-27 14:13] tomalec commented on #69
Thanks for reporting @winduptoy! I'm currently working on fixing entire falsy values approach.

[2015-03-27 15:15] tomalec commented on #69
@winduptoy, it should work fine now. It wil be released as https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/0.5.1
I've also added test cases to https://github.com/json-patch/json-patch-tests/pull/17. Once PR will get merged (or rejected) I will merge it to our repo as well.

[2015-03-27 15:18] tomalec commented on #62
#69 is fixed.
For tests I've created PR to https://github.com/json-patch/json-patch-tests/pull/17 Once it will get merged I'll pull it our test suite.
Is there any other case that you would to cover?

[2015-03-27 15:20] #69 closed

[2015-03-27 15:27] winduptoy commented on #69
:+1:

[2015-03-27 16:18] tomalec commented on #66
@kdabir , try
[code]

So as, functionality is already here, and available for external use, but definitely should be exposed nicer.

[2015-03-28 23:33] tomalec commented on #67
Here you have the benchmark test with updated lib versions http://jsperf.com/json-patch-implementations-showdown/7 for
 - Starcounter-Jack/JSON-Patch
 - bruth/jsonpatch-js
 - dharmafly/jsonpatch.js

@warpech am I correct that this is the one used in screenshot at README.md?

It seems that culijs/jiff use lots of require dependencies, and it's not so straight-forward to use single-liner in jsperf :

[2015-03-29 00:17] tomalec commented on #65
@Pavek Thanks for reporting, and nice test case :) It seems it comes from limitations of `Object.observe` that we use. I will try to figure something out, maybe try how `Array.observe` affects performance, and how hard is it to shim.
@warpech have we ever consider `Array.observe`?

[2015-03-29 01:09] tomalec commented on #65
@Pavek, @winduptoy  I have created [branch for this fiddling with `Array.observe`](https://github.com/Starcounter-Jack/JSON-Patch/tree/issues/65_ArrayObserve).

@Pavek test case passes with native `(Object && Array).observe`, I have also added test case with full featured `.splice` removes and adds many items. Please, check if it works fine for you.
If so, I'll move on with performance and shimmin

[2015-03-30 08:36] warpech commented on #67
@tomalec similar, but not exactly the same as the one used in README.md, which was added in commit https://github.com/Starcounter-Jack/JSON-Patch/commit/4a26d9ca3a2c4757380bcd710c82fa49b5959c7e

[2015-03-30 14:01] mrenvoize commented on #67
Slow reply, sorry..  thanks for the pointers; never seen jsperf.com before, it's a revelation :)

I'll have a play, but my gut tells me it will yield similar results with this library being way out in front.

[2015-03-30 20:14] kdabir commented on #66
@tomalec thanks for the code sample, it worked. I was somehow expecting apply to return the object with value.

Regarding your first comment, extracting a mirco-library seems like way to go if that doesn't affect the performance. Otherwise, providing it as methods on jsonpatch also seems okay to me. Ultimately choice is yours based on any other use-cases you might have in mind.

[2015-04-04 17:41] tomalec commented on #14
It seems that such behavior is not a bug in Chrome, but desired behavior for `Object.observe` it's even mentioned in [spec](http://arv.github.io/ecmascript-object-observe/#examples-array).

That's the main difference with `Array.observe`, which I believe we should use for array(-like) nodes.

[2015-04-04 17:46] tomalec commented on #14
I'll clean our `.length` logic at https://github.com/Starcounter-Jack/JSON-Patch/commit/0552ac695bb007d3f488ad4c91c3dc7aa217bb47. So users may use 'length' property name for non-array objects. For arrays, we will handle `splice` change type.

[2015-04-04 17:53] #68 closed

[2015-04-05 19:42] tomalec commented on #65
It seems working without native `Array.observe` is much more complicated. I created algorithm to generate nicer patches, also form manual `generate` calls (`.compare`, `.generate`, shimmed observer): https://github.com/tomalec/JSON-Patch/tree/issues/65_ArrayObserve_shim
and it works nice with native observers.

The problem comes with shim, as we keep mirror as deep clone so there is no way to chec

[2015-04-05 19:45] tomalec commented on #65
Related SO issue http://stackoverflow.com/questions/29414710/is-there-any-way-to-preserve-the-order-while-generating-patch-for-json-files

[2015-04-06 22:43] tomalec commented on #60
I've just added few test cases for it, so it shoul no longer result in error. Behavior in case of `undefined` is described at [README.md](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/README.md#undefineds-json-to-js-extension), and at #32

[2015-04-06 22:51] tomalec commented on #32
I've just added a description at [README.md](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/README.md#undefineds-json-to-js-extension), and bunch of tests.

Basically:
 1. For valid JSON document, we will generate only valid JSON Patches,
 2. For invalid JSONs (ones with `undefined`), we will handle it gently. [`.apply`](http://starcounter-jack.github.io/JSON-Patch/test/SpecRunnerDuple

[2015-04-10 09:49] warpech commented on #65
We could keep a shallow clone of arrays to check that. This way you could compare `arr.indexOf(obj)` with `arrShallowClone.indexOf(obj)`

[2015-04-10 11:38] tomalec commented on #65
The question is where to keep those clones? as currently we keep only one `deepClone` of everything as `Mirror`

[2015-04-17 19:26] gdibble commented on #55
:tada:

[2015-04-17 19:27] gdibble commented on #29
:+1:

[2015-04-17 19:28] gdibble commented on #69
good fix!

[2015-04-28 22:20] garthk commented on #32
Is it too late to reconsider?

* The results don't conform to [RFC6902] after being run through `JSON.stringify`
* The results are least surprising to people who never touch `JSON` and most surprising to those that do

[RFC6902]: http://tools.ietf.org/html/rfc6902
[POLA]: http://en.wikipedia.org/wiki/Principle_of_least_astonishment
[Postel]: http://en.wikipedia.org/wiki/Robustness_principle

Like

[2015-05-06 02:40] sonnyp commented on #32
JSON.stringify discard undefined values in objects, not in arrays where they are turned into null.

```JSON.stringify({foo: undefined})``` returns ```{}```
```JSON.stringify([true, undefined, true])``` returns ```[true,null,true]```

[2015-06-13 14:29] Pavek opened #72 "Incorrect patch on remove array item after changing its property"
I think this is related to #65, that I openeed a while ago. But in this case the result is worse as patch is completely wrong. Here's the test case:

[code]
Fails as: `Expected [ ] to equal [ { op : 'remove', path : '/arr/0' } ].`

In more complex scenario when such operations are performed in loop, I see invalid patches like this:
[code]

[2015-06-18 17:31] warpech opened #73 "Add new validation rule: VALUE_OBJECT_CANNOT_CONTAIN_UNDEFINED"
(Continued from https://github.com/PuppetJs/PuppetJs/issues/21)

PuppetJs in debug mode (currently ON by default) validates outgoing patches:

[code]

in which case the error should be reported. I am glad that we both agree :)

It should not be mixed. The current check for `undefined` value (`OPERATION_VALUE_REQUIRED`) should be kept. A new check for `undefined` property of the value (if the value

[2015-06-19 06:58] miyconst commented on #73
Here is the new branch:
https://github.com/Starcounter-Jack/JSON-Patch/tree/issues/73

The exception name is `OPERATION_VALUE_CANNOT_CONTAIN_UNDEFINED`, I added `OPERATION_` to match all other exceptions and removed `_OBJECT` to shorten it somehow.

Three new validation specs added:
[code]

with the following operation values:
[code]

[2015-06-22 08:12] warpech commented on #73
@tomalec can you review?

[2015-06-22 11:44] tomalec commented on #73
Check itself LGTM, but we need that change to be made in `.ts` files as well.

[2015-06-22 12:42] miyconst commented on #73
Updated `.ts` files. How do you test TypeScript? There is nothing about it in the project.

[2015-06-22 12:48] tomalec commented on #73
U should use `tsc` in command-line to generate js out of ts, then test js ;)

[2015-06-22 13:00] miyconst commented on #73
@tomalec thanks, tested.

[2015-06-22 22:25] tomalec commented on #73
cool, can you merge it to the master, and close the issue?

[2015-06-23 09:11] miyconst commented on #73
Done. Released `0.5.3` version.

[2015-06-23 09:11] #73 closed

[2015-07-08 14:58] docksteaderluke opened #74 "TypeError exception thrown when 'path' is not defined after calling jsonpatch.validate"
A ```TypeError``` exception is being thrown when the ```path``` parameter isn't specified (or misspelled) in a patch. This is handled correctly when the ```op``` and ```value``` parameters aren't specified, but not ```path```.
[code]

For example:
[code]

[2015-07-10 11:34] fobdy opened #75 "Strange behaviour"
Code
[code]
Returns only last change:
[code]

[2015-07-10 13:12] miyconst commented on #75
@fobdy could you please provide some more details? A complete html page would be perfect.

I have checked your scenario and my result is:

[code]

[2015-07-10 14:36] miyconst commented on #74
@docksteaderluke thank you for reporting the issue. It is fixed now.

[2015-07-10 14:36] #74 closed

[2015-07-16 17:51] docksteaderluke commented on #74
Great! When can I expect to see this update on NPM? How frequently do you publish changes on NPM? Thanks again!

[2015-07-16 19:58] tomalec commented on #74
Thanks for reminding :) we just forgot to `npm publish`. Now, both `0.5.3` and `0.5.4` are available on npm.
https://www.npmjs.com/package/fast-json-patch for some reason (probably me publishing in wrong order :innocent:)  shows only `0.5.3`, but version `0.5.4` is tagged as latest

[2015-07-20 11:46] docksteaderluke commented on #74
Great! Looks good! Thanks!

[2015-08-11 13:41] albanm opened #76 "validate corrupts patches when adding array then appending"
Hello,

You can try the following code:

[code]

It outputs:

[code]

As you can see the value object of the first patch has been modified. Instead of an empty array it is now an array containing the value of the second patch.

[2015-08-18 08:50] knde opened #77 "Strange behaviour! If path don't start with '/'"
var obj = {firstName: "Albert"};
var patches = [{op: "add", path: "/lastName", value:"Wester"}];
jsonpatch.apply(obj,patches);
obj = {firstName: 'Albert' },lastName:'Wester' }
If path = "lastName"
The result
{ '0': 'W', '1': 'e', '2': 's', '3': 't', '4': 'e', '5': 'r' }

why?

[2015-08-18 13:37] warpech commented on #77
Hi! This is because it is not a correct path and code is optimized for speed, not for validating patches.

To turn on validation, use `true` as the third parameter (`jsonpatch.apply(obj, patches, true);`)

Check out https://tools.ietf.org/html/rfc6901 for the spec of the path value.

[2015-08-18 13:40] warpech commented on #77
Oops! Just noticed that such path does not raise an error with validation. Reopening this for fixing

[2015-08-18 13:42] warpech commented on #75
Closing as outdated

[2015-08-18 13:42] #75 closed

[2015-08-25 13:23] danieldonev opened #78 "Adding element to an array should not end with "last index + 1""
Example

var object  = {someValues : ["one", "two"]};
var object2 = {someValues : ["one", "two", "new value"]};

result - [{"op":"add", "path": "/someValues/2", "value": "new value"}];

If you add an element to an array at the end of it - it should end with "path/-" and not the index of the new element

[2015-09-02 14:50] tomalec commented on #78
[RFC](http://tools.ietf.org/html/rfc6902) says:

      number of elements in the array.

So it seems, even if it worked nice for our use cases, it's not a valid JSON-Patch :/

[2015-09-03 08:01] danieldonev commented on #78
You can make check if the element indedx is equal to the array.length-1, then finish with "/-" otherwise stick to the current implementation (in case the element HAS to be inserted in specific position)

var element = "test4";
var array = ["test0", "test1", "test2", "test3"]
array.push(element )

// the array.indexOf(element) will be 4;
//array.length will be 5

If(array.indexOf(element) === array

[2015-09-03 08:03] tomalec commented on #78
err.. my bad `2` is equal to "the number of elements in array", so this patch seems to be valid as well.

@danieldonev, Is there any specific reason, why it does not work for you? As we aim to be super fast, every if needs to be considered as performance threat.

[2015-09-03 08:15] danieldonev commented on #78
Well, let`s imagine that you have JAVA RESTful API, you will be trying to add an element to an index which does not exist. In the case where you add an element to the JS array of 5 element the new one will be 6-th and the patch path will end with "/5" where the java array has also 5 elements but the last element has index 4, it will throw an exception

[2015-09-03 09:26] tomalec commented on #78
But I would say that's what standards are for. If Java implementation of JSON-Patch cannot process valid JSON-Patch, then this should be fixed on Java end.

[2015-09-03 15:23] danieldonev commented on #78
True. BUT - "If the "-" character is used to index the end of the array (see [RFC6901]), this has the effect of appending the value to the array." Since I am adding the new element at the end of the array it does not make sence to specify the index since i am not moving any of the existing elements.

[2015-09-16 10:41] warpech commented on #78
The vendor neutral [JSON-Patch test suite](https://github.com/json-patch/json-patch-tests) uses both `.../<number>` and `../-` to add elements at the end of the array. They seem to be equal choices.

I guess that a fix for that would be just a change in line https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.ts#L189

For me switching to `.../-` sounds like a potential

[2015-09-16 13:06] danieldonev commented on #78
Actually it should support botj if the new element is added in specific position (is not at the end) is must use the /<index>. If it is at the end just use /- version of it

[2015-09-16 17:44] tomalec commented on #78
Well, I'll check if it affect OT, as switching to more efficient solution is always a good idea.

However I cannot find a statement in spec that says it MUST be like that. Maybe It can be discussed at json-patch spec issue tracker?

[2015-09-23 20:27] tomalec commented on #57
@skotchio, sorry that it took so long.

This month I will release nice description and demos for our implementation of https://github.com/PuppetJs/JSON-Patch-OT and https://github.com/PuppetJs/JSON-Patch-OT-agent. Right now you can use https://github.com/PuppetJs/puppetjs that applies our OT to JSON Patch

At October 3rd & 4th I will be giving a talk about it in Zagreb https://2015.webcampzg.org/t

[2015-10-05 08:16] tomalec commented on #57
Here are the slides from my talk, where I briefly go through OT for JSON Patch http://tomalec.github.io/talks/Real-time,%20asynchronous%20collaboration%20on%20JSON/index.html#/
In two weeks I should be able to post a video.

I have updated readmes at:
 - https://github.com/PuppetJs/JSON-Patch-OT
 - https://github.com/PuppetJs/JSON-Patch-OT-agent.
 - https://github.com/PuppetJs/JSON-Patch-Queue

So

[2015-10-17 11:28] Starcounter-Jack opened #79 "The link to the performance benchmark is broken."
Anyone got a copy?

[2015-10-17 11:32] Starcounter-Jack opened #80 "Time to set the version to 1.0"
I think that the 0.5 versioning is a bit to conservative. Should we go for 1.0 with the current bits?

[2015-10-19 14:07] warpech commented on #79
Will add a new one

[2015-10-19 14:21] warpech commented on #79
Made new tests:

##### [`add` benchmark](http://jsperf.com/json-patch-benchmark)

<img width="931" alt="screenshot 2015-10-19 16 11 18" src="https://cloud.githubusercontent.com/assets/566463/10580253/f2b87118-767c-11e5-92ab-019abaa4afdb.png">

##### [`replace` benchmark](http://jsperf.com/json-patch-benchmark-replace)

<img width="931" alt="screenshot 2015-10-19 16 16 40" src="https://cloud.github

[2015-10-19 14:26] warpech commented on #79
Added to README.md

[2015-10-19 14:26] #79 closed

[2015-10-19 14:39] warpech commented on #32
Labelling this as "question". This lib will always prioritise performance over sanity-checking. But perhaps something can be done to improve the developer UX.

Currently the explanation in README.md is not very helping (written in ~~strikethrough~~):

<img width="891" alt="screenshot 2015-10-19 16 39 09" src="https://cloud.githubusercontent.com/assets/566463/10580862/fd0d84d4-767f-11e5-88b3-d0bd53

[2015-10-19 15:53] warpech commented on #80
I would prefer to do it after the remaining bugs are fixed: #31, #42, #64, #65, #72, #76, #77

And maybe even this enhancement, because it can improve performance: #78

I guess fixing that is 2 days of work, doable in one batch.

[2015-10-19 15:55] warpech commented on #22
The fixes asked by @jmeas are already done.

Still version 1.0 was not released. Since it was asked once again (#80), I will close this issue and answer there

[2015-10-19 15:55] #22 closed

[2015-10-22 13:08] Akkuma opened #81 "Updated add benchmark"
I added jiff and json8patch. Jiff I ran through browserify. Both I ran through uglifyjs after getting the non-minified browser dist.

http://jsperf.com/json-patch-benchmark/2

[2015-10-22 13:14] warpech commented on #81
Very nice! I was hoping they are a little bit faster, though...

Care to update the `replace` benchmark as well? http://jsperf.com/json-patch-benchmark-replace

[2015-10-22 15:16] Akkuma commented on #81
http://jsperf.com/json-patch-benchmark-replace/2 has been updated as well now

[2015-10-22 16:00] Akkuma commented on #67
@mrenvoize #81 should resolve this for you

[2015-10-22 18:46] warpech commented on #79
Updated tests thanks to https://github.com/Starcounter-Jack/JSON-Patch/issues/81:

##### [`add` benchmark](http://jsperf.com/json-patch-benchmark/2)

<img width="907" alt="screenshot 2015-10-22 20 35 22" src="https://cloud.githubusercontent.com/assets/566463/10674707/b3deec60-78fc-11e5-876d-59c90a0cab2f.png">

##### [`replace` benchmark](http://jsperf.com/json-patch-benchmark-replace/2)

<img widt

[2015-10-22 18:49] #81 closed

[2015-10-22 18:50] warpech commented on #81
Nice, thanks!

[2015-10-22 18:50] warpech commented on #67
Indeed, thanks @Akkuma!

[2015-10-22 18:50] #67 closed

[2015-10-22 20:51] mrenvoize commented on #67
Cheers,  still looking great

[2015-11-02 20:38] warpech opened #82 "Object.observe is dead"
https://esdiscuss.org/topic/an-update-on-object-observe
https://news.ycombinator.com/item?id=10494512

It is a pity that it won't make it to ES7, but we saw it coming.

We will need to remove it from `json-patch-duplex.js` and fall back to dirty checking (which is already used for JS engines other than V8).

Good news is that our dirty checking was more performant in benchmarks, AFAIK. Also, there

[2015-11-03 05:34] Starcounter-Jack commented on #82
Just as well. It performed rather poorly. Removing the code will reduce our footprint which is always nice.

Sent from my iPhone

[2015-11-03 11:05] mschaeuble opened #83 "compare function does not distinguish between 0 and empty string"
When executing the following code, I would expect a difference, but compare actually returns an empty array:

[code]

[2015-11-04 16:41] miyconst commented on #60
The test cases added by @tomalec does not work without native `Object.observe` support.
As stated in the issue https://github.com/Starcounter-Jack/JSON-Patch/issues/82, the `Object.observe` is no longer supported, so we can't rely on it.

Current implementation of dirty checking creates mirror ob object with the following code:

[code]

As mentioned above, `undefined` is not a valid JSON value, an

[2015-11-04 16:47] miyconst opened #84 "Dirty checking should ignore array properties"
Array properties are not supported by JSON standard, they should be ignored.

This issue appeared because Polymer adds property `splices` to arrays, which leads to crazy behavior of `json-patch`.

cc @warpech, @tomalec

[2015-11-05 11:30] miyconst commented on #82
Dependency on `Object.observe` is now removed and released as `0.5.5`.

[2015-11-05 11:30] #82 closed

[2015-11-05 11:31] miyconst commented on #84
Fixed and released as `0.5.5`.

[2015-11-05 11:31] #84 closed

[2015-11-05 13:41] febeling opened #85 "TypeError exception on array comparison"
This test passes with 0.5.4 and fails with 0.5.5
[code]
This is the stacktrace:
[code]
_Updated: showing tests exercising the library API directly, instead of our thin service layer._

[2015-11-06 14:19] warpech commented on #85
@miyconst could you please take a look?

[2015-11-06 14:24] miyconst commented on #85
Sure.

[2015-11-06 16:06] miyconst commented on #85
@febeling, could you please provide your full testing environment?

And could you try to replace

[code]
at https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.js#L29

with

[code]

And let me know whether it passes.

[2015-11-06 23:11] febeling commented on #85
The tests are written with jasmine and run in karma, controlling a phantomjs browser runtime.

I can't reproduce the problem in plain node.

The problem goes away when switching karma to use Chrome as browser runtime.

With the change to loop iteration you propose above it also works with phantomjs.

[2015-11-07 21:04] miyconst commented on #85
Should be fixed in [0.5.6](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/0.5.6)

[2015-11-07 21:04] #85 closed

[2015-11-07 21:57] febeling commented on #85
Confirming the fix. Thanks!

[2015-11-16 16:07] tomalec commented on #82
Just to note, maybe we could give some feedback for `Object.observe` champion https://github.com/arv/ecmascript-object-observe/issues/25#issuecomment-139693547

[2015-11-16 19:56] object88 opened #86 "Compare fails to see difference in Date"
The `compare` function of this library does not report a difference between two Date objects.

[code]

The result of this script is an empty array.  I would expect a 'replace' to be reported.

[2015-11-23 23:13] endel opened #87 "publish to npm"
Hey there!

The last version was published 4 months ago, it would be great to have the last version there!

Thanks

[2015-12-11 14:07] NickStefan commented on #87
:+1:

[2015-12-15 09:56] bencefrenyo opened #88 "Observe callback only in a minute"
Hi,

Object.observe() is not used any more, which is incorrectly stated in Features list. And due to this the previously working instant notification about any change in the object is gone. Not sure that checking changes in regular intervals is efficient. Any plans to improve on this one?

Cheers

[2015-12-22 10:08] cefn opened #89 "Add should throw errors when replacing"
Been using fast-json-patch for the networked synchronization of JSON trees. I discovered that an add which overwrites a part of the target tree is not treated as an error, when I believe it should be.

The semantics of replace would make this same operation valid and explicit, so I believe that attempting to make a replace change using an 'add' operation should be considered invalid.

Here's a wor

[2015-12-23 22:47] cefn opened #90 "Undefined should be considered equivalent to unassigned"
Since an undefined value is not permitted by the JSON specification (only null), I believe that the undefined value stored at a member should be considered equivalent to an unassigned member. Below is a Node REPL which demonstrates the problem and which I've encountered in a production system.

[code]

In practice I've experienced this because of a feature of the LODASH library...
https://github.c

[2015-12-24 12:10] tomalec commented on #90
Thanks, for feedback @cefn, here is couple of related issues:
https://github.com/Starcounter-Jack/JSON-Patch/issues/60
https://github.com/Starcounter-Jack/JSON-Patch/issues/32

We have plans to support undefined, but it introduced more problems, especially if we would like to keep few constraints:
1. Always produce valid JSON Patches,
2. Keep results of apply and generate consistent.

For example,

[2015-12-25 21:54] cefn commented on #90
I guess it's a question of when JSON validity of in-memory structures is imposed, if at all. Currently the reliance on JSON.parse(JSON.stringify(item)) for deepClone makes it impossible to compare in-memory structures with their clones in consistent ways anyway.

For this reason it seemed like a design commitment of fast-json-patch to impose JSON-only for in-memory structures too, meaning that ind

[2015-12-28 05:45] gaurav21r commented on #42
+1 @warpech Any updates on this?

[2015-12-30 10:26] omri-shaiko opened #91 "Missing "move" operation on compare"
When I compare two JSON and replace the order of the elements I expected to get the "move" operation as defined here:
http://tools.ietf.org/html/rfc6902#section-4.4

But I get lots of "replace" instead.
Is there plans to support it?

Tnx

[2016-01-02 12:58] endel commented on #91
+1, I'm thinking about using objects with keys instead of arrays in my API due lack of "move" operation.

[2016-01-09 07:04] gaurav21r opened #92 "Custom Comparison Function"
As in the README, I find this project to be way ahead of the competition, in terms of not only performance but also "community activity".

One thing that's missing though is a Custom Comparison Function. Eg:
https://github.com/cujojs/jiff#diff
https://github.com/benjamine/jsondiffpatch/blob/master/docs/arrays.md#an-object-hash

Can we implement a custom `objectComparison` function to `compare()` ?

[2016-01-12 10:18] tomalec commented on #57
Sorry for the delay, here is the video: http://youtu.be/bTG7pIyzr7A

Here is the issue related to the status https://github.com/PuppetJs/JSON-Patch-OT/issues/2
As mentioned there, it would be cool, to have better looking project page, finished whitepaper, benchmarks, publicity and marketing.

[2016-01-13 06:03] gaurav21r commented on #92
@warpech @Starcounter-Jack @miyconst @tomalec Your views please? I think this is pretty important. Most developers would use this library to `diff` their model. And they would usually have an `id` attribute. Maybe I'm just missing the custom comparator API from the docs?

[2016-01-13 06:57] miyconst commented on #92
@gaurav21r sorry for the late response.

Am I right that you are trying to get "move" patch for array comparison instead of "replace"?

If so, then those examples would demonstrate your issue:

- https://jsfiddle.net/rfLhkfs3/1/
- https://jsfiddle.net/rfLhkfs3/2/

Moving an item in an array generates change patch for every index, instead of one move patch.

If so, then I am afraid that JSON-Patch

[2016-01-13 07:22] gaurav21r commented on #92
@miyconst No Problem! :) Yes this is exactly the case. Can you look at the links I posted? These libraries use a `customFunction` argument to compare elements within an array. I think this is a very popular use case, because most of the data models are modeled as array of objects.

I am assuming it would a bit easy to implement. Because instead of using LCS or some other complex algorithm, we just

[2016-01-13 07:54] miyconst commented on #92
Well, the custom comparison function would not solve your issue, as JSON-Patch currently does not support `move` operation. As I have demonstrated in my first example with strings, which do not require custom comparison function, you still get array of `change` patches instead of one `move` patch.

I do understand your problem, and what you are trying to do, but unfortunately it is not possible ri

[2016-01-13 15:48] tomalec commented on #92
I'd say our `fastjsonpatch.compare` does not generate `move` operations, as `.apply` supports it ;)

Lack of `move` support in `compare` was already reported at https://github.com/Starcounter-Jack/JSON-Patch/issues/91 and we deffinatelly need to support it at some point.

Regarding additional parameter for better interoperability/hacking/plugins, we can consider it, but we need to make sure it wil

[2016-01-13 15:50] tomalec commented on #91
Yes, we do want to support it.
Unfortunately, we do not have much resources to do it, at least in following 2-3 months.

[2016-01-13 16:01] tomalec commented on #89
According to [JSON-Patch spec](https://tools.ietf.org/html/rfc6902#section-4.1):

      that member's value is replaced.

So I would say it's desired specified behavior, and should not throw an error.

You can always add `test` operation before.

If you would like to, keep your distributed trees in sync, especially while networking, I strongly suggest you JSON Patch OT:
https://github.com/PuppetJs

[2016-01-13 16:01] #89 closed

[2016-01-13 16:06] tomalec commented on #88
Thanks for reporting it :)
@miyconst could you remove O.o from the readme, and comments if any?
@warpech WDYT? Do you have any ideas on how to mimic previous behavior better?Plus, we could expose some API to configure and flush those intervals

[2016-01-13 16:16] tomalec commented on #87
Thanks for reporting, and sorry for the delay.
[code]

[2016-01-13 16:16] #87 closed

[2016-01-13 16:22] endel commented on #87
:clap: :clap:

[2016-01-13 16:31] miyconst commented on #88
Sure, I can do that.

[2016-01-21 17:27] warpech commented on #88
In future, we can switch to be using ES6 Proxy.

Right now I guess we should stick with dirty checking. I talked today with @Starcounter-Jack and indeed we think that it might be a good idea to remove time intervals at all.

@tomalec, @miyconst since we use `dom-bind-notifier`, would we have a way to trigger a `generate` from it without time intervals? We can use some custom DOM event to trigger `

[2016-01-28 23:58] DavidMikeSimon opened #93 "Undocumented behavior: jsonpatch.compare alters obj1"
The `compare` function calls `_generate` internally, which, in addition to generating a patches array, updates the `mirror` object to match the `obj` object! This caught me by surprise and created a bunch of hard-to-debug problems.

Please document this behavior in the API docs, or better yet, allow this behavior to be disabled (since now I have to make lots of deep clones every time I call `jsonp

[2016-01-29 07:22] miyconst commented on #93
cc @tomalec, @Starcounter-Jack

[2016-01-29 14:26] tomalec commented on #93
Thanks for pointing that!

I would said that from API purity perspective we should not update `mirror` object on every (public) `compare` call, maybe unless explicitly specified.

I think we may consider, if possible, adding a parameter for that.

[2016-01-29 15:36] warpech commented on #93
Agreed.

Actually we addressed this problem before (there was a PR: https://github.com/Starcounter-Jack/JSON-Patch/pull/53), so that sounds like a regression.

There is even a test for that: https://github.com/Starcounter-Jack/JSON-Patch/commit/b2435fa725a2a4efc7eb7b7059ddf5fa4c344771#diff-2f9a66403e6f581b7b3abaff2c80ca45R694

[2016-02-02 00:29] ben0910 opened #94 "JSON.parse issues with dates in IE older browsers"
It might be a good idea to implement a receiver function for dates to solve issues with ie and older browsers

Here is a great article with some code.
https://weblog.west-wind.com/posts/2014/Jan/06/JavaScript-JSON-Date-Parsing-and-real-Dates

[2016-02-29 23:04] davidleureka opened #95 "Usage with angular"
Like the project, very useful. But I have one questions related to using it with angular. Angular tends to added its own properties (e.g. $promise and $resolved) to its model objects as you work with them in the UI. This means that your patch will often contain things like:

[code]

which must be stripped out before you send a PATCH to your services. Is there any good way to prevent the observer f

[2016-03-01 12:36] warpech commented on #95
We use this library in  PuppetJs, and this is how we filter patches:

https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet.js#L525-L536

Basically, you need to handle this outside.

[2016-04-10 15:42] warpech opened #96 "Replace dirty checking with Proxy object"
Proxy is a ES2016 feature that can replace dirty checking in https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.ts

I think that the correct way is to replace the current dirty checking recursively with Proxy objects. The support in old browsers should be provided with a polyfill.

First step is to make a proof of concept implementation and check if the polyfill is ca

[2016-04-11 08:44] warpech commented on #96
There might be a problem with `proxy-polyfill`. Readme says:

This means that we will not be able to add traps to properties added after the initial page load.

Maybe actually we can achieve what's needed by forking `proxy-polyfill`.

[2016-04-11 08:45] warpech commented on #96
Also, the performance cost of Proxy is quite significant: http://jsperf.com/es2015-proxy-test3. But I haven't yet compared it to the cost of dirty checking.

[2016-04-19 22:40] gdibble opened #97 "npm publish"
plz :pray: for v0.5.7
(: ty

--

https://www.npmjs.com/package/fast-json-patch

[2016-04-21 14:07] warpech opened #98 "Change the observed events to mouseup, keyup"
JSON-Patch currently observes the following events: `mousedown`, `mouseup`, `keydown`.

For my taste, `mousedown` and `keydown` are unpractical.

The list should be changed to have only two events: `mouseup`, `keyup`.

[2016-04-21 14:46] warpech commented on #57
I think this issue might be closed, right @tomalec? OT is implemented outside of this repo and it works.

[2016-04-21 16:25] warpech opened #99 "Move the event-based trigger of dirty checking outside of JSON-Patch"
In spirit of https://github.com/Starcounter-Jack/JSON-Patch/issues/88#issuecomment-173644497, I think that the best way to trigger dirty checking would be to actually move it out of JSON-Patch.

In our use case, it should be moved to https://github.com/PuppetJs/PuppetJs/blob/gh-pages/src/puppet-dom.js.

The code in Puppet DOM will trigger `jsonpatch.generate(puppet.observer)` from the outside on c

[2016-04-21 16:56] warpech commented on #99
In a nutshell it means move `jsonpatch.observe` and `jsonpatch.unobserve` to Puppet DOM.

The beauty of it is that it can be done in steps:

1. Make the new implementation in Puppet DOM and switch to use it instead of `jsonpatch.observe` and `jsonpatch.unobserve`
2. Remove `jsonpatch.observe` and `jsonpatch.unobserve` from JSON-Patch

[2016-04-21 18:06] tomalec commented on #99
LGTM :)

Maybe, we could also provide tiny library (as a migration helper) for those who currently use `jsonpatch.observe` and `jsonpatch.unobserve` without Puppet.

[2016-04-25 13:49] tomalec commented on #97
Done
[code]

[2016-04-25 13:49] #97 closed

[2016-04-25 14:50] gdibble commented on #97
Thanks

[2016-05-03 11:31] warpech commented on #99
Plan for development:

1. prepare PuppetJs changes in PuppetJs branch `dirty-checking-refactor-json-patch-issue-99`:
 - stop using `jsonpatch.observe` and `jsonpatch.unobserve`
 - add `jsonpatch.generate` calls in new event handlers in `puppet-dom.js`
2. include changes in Starcounter nightly
3. prepare JSON-Patch changes in JSON-Patch branch `dirty-checking-refactor-json-patch-issue-99`
4. releas

[2016-05-03 11:31] warpech commented on #99
Assigning to @aloscha

[2016-05-03 13:53] baranga commented on #76
This also works with objects:
[code]

Looks like patch value gets copied by reference instead of deep copy.

[2016-05-03 15:41] MarkHerhold commented on #76
How does this work with undefined values? IIRC, this repo tries to respect
undefined fields despite them not being serializable to/from JSON (which is
a bad idea anyway IMO) .

On Tue, May 3, 2016, 9:53 AM baranga <notifications@github.com> wrote:

[2016-05-03 16:03] baranga commented on #76
@MarkHerhold I don't understand your question. How to deep copy something with a `undefined` in it? That should not happen because you can not express a patch operation with value of `undefined`.

[2016-05-04 00:28] MarkHerhold commented on #76
@baranga You are right, it shouldn't happen in the traditional JSON sense, but JSON-Patch treats `undefined` as a first-class citizen. ;)

Here's an example:
[code]

[2016-05-04 06:46] baranga commented on #76
@MarkHerhold That still works. `deepClone` only does a JSON encode/decode roundtrip if value is of type `object`. See [json-patch-duplex.ts](https://github.com/Starcounter-Jack/JSON-Patch/blob/6a339cc0c4ffb296e8e816f151530f1f6c2350cc/src/json-patch-duplex.ts#L294).

Is that behaviour covered by the test suites? I run them with my modifications and got same errors as on master.

[2016-05-04 06:56] baranga commented on #76
Ok, now I see the issue:
[code]
The last should be:
[code]

[2016-05-04 07:19] baranga commented on #76
@MarkHerhold So right now something broken can't be fixed because the lib supports a non standard feature?

[2016-05-04 13:08] MarkHerhold commented on #76
No, there are other more expensive clone strategies and implementations.
e.g. lodash's clone.

I personally think we should cut a v1 release, dropping support for
undefined and apply your PR.

On Wed, May 4, 2016, 3:19 AM baranga <notifications@github.com> wrote:

[2016-05-09 20:37] Toub opened #101 "Add chbrown/rfc6902 to benchmark"
What about adding https://github.com/chbrown/rfc6902 to benchmark?

[2016-05-19 07:10] Toub commented on #91
+1

[2016-05-19 07:12] Toub commented on #4
So, how do we generate patches for dates?
Maybe that custom comparison function could help: https://github.com/Starcounter-Jack/JSON-Patch/issues/92

[2016-05-25 11:59] warpech commented on #98
This is now done in #99. Closing as duplicate

[2016-05-26 14:14] warpech commented on #99
Just discussed with @tomalec and @aloscha that this doesn't make much sense, because https://github.com/Starcounter-Jack/JSON-Patch/issues/96 will change it again. Closing.

[2016-05-26 14:14] #99 closed

[2016-05-26 14:17] warpech opened #103 "Remove slowCheck (dirty checking in fixed time intervals)"
Remove `slowCheck` (dirty checking in fixed time intervals).

From now on, dirty checking should be only triggered on DOM events (`fastCheck`).

[2016-05-26 14:18] warpech commented on #88
Long term plan: ES6 Proxy (https://github.com/Starcounter-Jack/JSON-Patch/issues/96)
Short term plan: Remove slowCheck (dirty checking in fixed time intervals) (https://github.com/Starcounter-Jack/JSON-Patch/issues/103)

[2016-05-26 14:18] #88 closed

[2016-05-26 14:18] warpech commented on #98
Reopening as #99 is cancelled

[2016-05-27 11:57] tomalec commented on #103
Then users could use `generate` method to check after their changes.
As for example proposed for PuppetJs https://github.com/PuppetJs/PuppetJs/issues/29#issuecomment-170904351

[2016-05-30 13:12] aloscha opened #105 "Test fails with undefined property"
Two tests fails with `undefined` as a default property.
First test:
       it('`undefined` property is set to something', function() {
          var obj = {foo: undefined};

          var observer = jsonpatch.observe(obj);
          obj.foo = "something";

          var patches = jsonpatch.generate(observer);
          expect(patches).toEqual([{op: 'replace', path: '/foo', value: "something"}]);

[2016-05-30 13:29] tomalec commented on #105
There are [many issues related to `undefined`](https://github.com/Starcounter-Jack/JSON-Patch/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+undefined)

Some time ago I have tried to add support for `undefined` as any other falsy value, but it seems it no longer works this way.

If i's to hard to fix JSON-Patch to work that way once again, I would re-describe applicable test cases, and add note on R

[2016-05-30 13:46] #103 closed

[2016-05-30 13:46] #98 closed

[2016-05-31 08:09] warpech commented on #103
@aloscha please write better Git commit messages. And always write a summary as a comment before closing an issue. The above messages tell me nothing. I cannot even say if the issue was solved or reverted?

[2016-05-31 08:09] warpech commented on #103
http://chris.beams.io/posts/git-commit/

[2016-05-31 08:24] warpech commented on #105
Also, in NodeJS test case 13 tests fail:

<img width="970" alt="screen shot 2016-05-31 at 10 22 32" src="https://cloud.githubusercontent.com/assets/566463/15668055/9c7f3f36-2719-11e6-8d7c-e5eb9947c681.png">

[2016-05-31 09:33] aloscha commented on #105
@warpech that happens before https://github.com/Starcounter-Jack/JSON-Patch/pull/104 ?

[2016-05-31 10:28] warpech commented on #105
Yes

[2016-05-31 12:17] aloscha commented on #105
@warpech I fixed that, by start using `jsdom`. Now node test returns only 2 errors (the same like in `SpecRunnerDuplex.html`)

[2016-05-31 12:18] warpech commented on #105
Thanks @aloscha

[2016-05-31 12:18] aloscha commented on #105
Ok, waiting for that

[2016-05-31 12:20] warpech commented on #105
Back to the original subject - first of all, we should stop using Jasmine's method `toEqual`, **because it thinks the following statement is correct**:

[code]

Secondly, I propose to use the following approach. `jsonpatch.generate` should treat *undefined* exactly the same way it is treated in `JSON.stringify` and `jsonpatch.compare`.

Every test should go the following path:

    var a = /*some

[2016-06-03 14:31] joozek78 opened #106 "return removed items from apply"
Right now, there's no way to know values of objects that have been removed by `apply`. This could be alleviated by returning an array of removed elements from `apply`:

[code]

This, however poses a problem - apply already returns a boolean. Its return value is the result of 'test' operation if it is the last in patch or `true` otherwise. We could:

1. Introduce a function to perform single (or mu

[2016-06-03 14:31] joozek78 commented on #106
cc @tomalec @miyconst @warpech

[2016-06-03 14:42] MarkHerhold commented on #106
I personally think we should go with # 2 and break the API (and release v1 as a result) and return an object like so:

[code]

[2016-06-03 14:50] warpech commented on #105
I created a pull request. This is a breaking change for undefined.

@tomalec, @miyconst, @aloscha could you please review the PR? There is a chance that I have overlooked some problem, so please be very critical :)

[2016-06-03 15:06] warpech commented on #106
@joozek78 maybe your problem would be circumvented by using the following hack to retrieve the values *before* calling `apply`?

[code]

The `_get` operation is not documented, but it works. We can document it.

[2016-06-03 15:18] joozek78 commented on #106
The problem is, I don't need single value, I could just access the object directly. I need to know the values of any objects that were removed during `apply`

[2016-06-03 15:32] warpech commented on #106
You can have exactly that:

[code]

[2016-06-03 15:34] tomalec commented on #106
According to RFC: if any test operation fails, entire _sequence_ should be rolled back, and elements should be removed iff all tests passed. Therefore i propose to return:

- `false` any test operation failed
- an array if all tests passed
 - `[undefined] `  if there was non-removing operation
 - `[{objectThat:'was removed'}, ...]` if there was operation that removed smth

Just to remind, we would

[2016-06-03 15:37] tomalec commented on #106
to @warpech's

The thing is that, to do so you need to know which operations will remove something, and I believe the `apply` is the one that posses this knowledge. And can return it almost for free.

[2016-06-07 12:25] tomalec opened #108 "Authorize travis-ci"
I'd like to add Travis-CI to automatically and continuously test our changes and PRs.

@Starcounter-Jack in your spare time, could you please authorize https://travis-ci.org to observe this repo?
It seems I do not have privileges.

First you need to grant GitHub aacess to it, then at https://travis-ci.org/profile/Starcounter-Jack you need to enable the switch for this repo.

[2016-06-16 14:35] warpech commented on #105
Changes are now merged to master.

[2016-06-16 14:35] #105 closed

[2016-06-16 14:50] warpech commented on #106
When this issue is resolved, https://github.com/Starcounter-Jack/JSON-Patch/issues/64 becomes obsolete

[2016-06-16 14:51] warpech commented on #64
When https://github.com/Starcounter-Jack/JSON-Patch/issues/64 is resolved, this issue becomes resolved

[2016-06-17 02:08] vijayaragavendiran opened #109 "Need d.ts file for Targeting the angular beta"
@Starcounter-Jack I am targeting for angular beta project. I need d.ts file for JSON-Patch to import in the angular component. Please help me.

#Thanks
Vijay

[2016-06-21 08:13] etrafiee opened #111 "AMD module"
Are you planning to make this library AMD compatible?

[2016-06-21 16:55] MarkHerhold opened #112 "Please Publish 1.0.0"
Just a friendly reminder to publish to npm and bower. Cheers on 1.0.0! 🎉
`npm view fast-json-patch`

Ping @joozek78 @Starcounter-Jack

[2016-06-21 17:27] joozek78 commented on #112
I'm new to the project, so I don't have permissions yet, but @warpech will take care of it.
BTW thanks for the notice!

[2016-06-21 17:59] warpech commented on #112
Done, thanks for noticing it so fast :)

[2016-06-21 17:59] #112 closed

[2016-06-21 18:01] warpech commented on #111
Not particularly planning, but surely we can accept a pull request that adds it. Preferably including tests.

[2016-06-21 18:06] warpech commented on #66
Closing as answered. We are not planning further changes to this API right now.

[2016-06-21 18:06] #66 closed

[2016-06-21 18:06] warpech commented on #56
Closing as answered. I know I haven't answered the last question, but that is quite out of scope of this library.

[2016-06-21 18:06] #56 closed

[2016-06-21 18:08] warpech commented on #32
Fixed in [1.0.0](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.0)

[2016-06-21 18:08] #32 closed

[2016-06-21 18:08] warpech commented on #60
Fixed in [1.0.0](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.0)

[2016-06-21 18:08] #60 closed

[2016-06-21 18:09] warpech commented on #90
Fixed in [1.0.0](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.0)

[2016-06-21 18:09] #90 closed

[2016-06-21 18:10] warpech commented on #76
The part regarding `undefined` is fixed in [1.0.0](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.0)

[2016-06-22 06:50] tomalec commented on #106
I think we have few things to polish after https://github.com/Starcounter-Jack/JSON-Patch/pull/110/files
like I mentioned at https://github.com/Starcounter-Jack/JSON-Patch/commit/946ea2d5cedc76a5100603c308f31af144e22554

1. `rootOps.add` needs to return removed object https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.ts#L157
2. `add` could use `removed` output, inste

[2016-06-22 08:14] joozek78 commented on #106
1. I changed add not to return removed objects at all. Adding onto existing objects is illegal per RFC (although we support it) and array add already returns an integer (index at which object has been inserted), so it would be confusing to have different return value on root.add
1. see above
1. AFAIK we can't lose the root object, because outside things can reference it. That's why all its propert

[2016-06-22 09:54] tomalec commented on #106
1. Regarding

 As per RFC it is supported, see http://tools.ietf.org/html/rfc6902#section-4.1

      that member's value is replaced.

 But I agree with returning different value than array add.
2. .
3. That's the thing, we are replacing the object with new one. So outside things are referencing the old one, not the new one. I suppose that when you are replacing, adding, removing a root element, y

[2016-06-22 09:59] joozek78 commented on #106
Definitely, we should also consider how will it play with e.g. Polymer. I'm closing this one, will you create an issue for your proposed changes?

[2016-06-22 09:59] #106 closed

[2016-06-22 10:32] tomalec opened #113 "Consider changing root operations behavior"
To continue discussion started at https://github.com/Starcounter-Jack/JSON-Patch/issues/106#issuecomment-227658338

Briefly my idea is that root operations (replace, remove, add) should not copy the object into existing one, but rather replace it completely (at https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.ts#L158-L162 and https://github.com/Starcounter-Jack/JSON

[2016-06-22 10:33] tomalec commented on #113
[@joozek78 wrote](https://github.com/Starcounter-Jack/JSON-Patch/issues/106#issuecomment-227673888)

[2016-06-22 10:34] tomalec commented on #113
[@tomalec wrote](https://github.com/Starcounter-Jack/JSON-Patch/issues/106#issuecomment-227697247)

That's the thing, we are replacing the object with new one. So outside things are referencing the old one, not the new one. I suppose that when you are replacing, adding, removing a root element, you mean it - to really use new one, and forget about the old one. Otherwise you would do replace all th

[2016-06-22 10:34] tomalec commented on #106
Discussion moved to https://github.com/Starcounter-Jack/JSON-Patch/issues/113

[2016-07-01 13:49] schwer opened #114 "Reference in package.json causes difficulties for ts compiler"
The reference to "main" in package.json lacks an extension. This causes issues for those (me) using a typescript compiler because the IE8 shim breaks the 'window' strong typing.

I'd prefer to import the .js file instead, but the default behavior of typescript compilation will resolve the .ts file before it resolves to the .js file.

Generally, I've seen that most other project export the .js file

[2016-07-01 13:53] schwer commented on #114
See https://github.com/Starcounter-Jack/JSON-Patch/pull/115

[2016-07-23 17:50] MarkHerhold opened #116 "How to check for failed apply() operations?"
It appears that the docs are out of date for the `apply()` operation as everything appears to return an array now.

What is the appropriate way to check for a failed `apply()` operation in v1.0.0? In previous versions, `false` would be returned.

[2016-07-25 23:47] tomalec commented on #114
Thanks for the feedback and PR :+1:

[2016-07-25 23:47] #114 closed

[2016-07-25 23:58] tomalec commented on #116
Briefly, now we are returning result for each individual operation object. So, you can also get the results of other types. for example you get the elements removed.

@joozek78 Could you update the docs?

[2016-07-26 10:30] joozek78 commented on #116
You can see the updated docs [here](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/README.md#jsonpatchapply-obj-object-patches-array-validate-boolean--boolean).
Basically, you now get an array of results and probably the last item (as previously only last operation result was returned) holds your result. So:
[code]

[2016-07-26 13:43] MarkHerhold commented on #116
So what indicates a failure in any of the individual patch operations?

[2016-07-26 13:58] joozek78 commented on #116
With the validate flag an exception will be thrown, as before.
If the test fails, the result array will contain `false` at index respective for the position of test operation in patch. So, if your test operation is third operation in patch, then third element of the results array will contain `false`.

[2016-08-02 23:19] ugieska opened #117 "fast-json-patch unusable with node-inspector"
I'm trying to use fast-json-patch in my webserver. As happens quite often, errors occur, and I usually debug them using node-inspector.

However, node-inspector simply won't work with fast-json-patch. The error I get is this:

`Network.loadResourceForFrontend failed.
Error: ENOENT: no such file or directory, open '/path/to/node_modules/fast-json-patch/src/json-patch-duplex.js.map'`

Is there a way

[2016-08-02 23:46] MarkHerhold commented on #117
I don't think this module has anything to do with your generated .map
files.

On Tue, Aug 2, 2016, 7:19 PM Karl Giesing <notifications@github.com> wrote:

[2016-08-03 21:52] ugieska commented on #117
It is the job of whoever minified/transpiled the code to generate the source map file. That would be you, or someone else who maintains this module.

If there is no source map file, then you need to remove the comments that claim there is one. These comments are found at the bottom of `json-patch.js` and `json-patch-duplex.js` (they are the last lines of those files).

[2016-08-07 15:45] isaacdcm opened #118 "Creating "check" ops"
Is it possible to have the functionality that builds the list of diffs output "check" operations at the beginning to ensure that the items to be modified are actually there?

The reason I want to do this is because I may end up with some 3 - way merge operations and would like to be able to catch them easily only if there is a conflict.
Thanks,
Isaac

[2016-09-02 05:35] sandrokeil opened #119 "If observe() callback function is used, generate() returns no patches"
Let's start with an example:

[code]

The problem is, that the callback function tracks every change, but if you set a value and remove it again, two patches (add and remove) are registered through the callback function, but nothing has changed. I need to know if something has changed, but only want the result of the changes and not every history of the changes.

Why returns `generate` no patches,

[2016-09-02 19:28] dcherman opened #120 "Extra globals are leaked"
In addition to the expected `jsonpatch` global that's created, it looks like the dist file generates two additional globals that it shouldn't:

`["__extends", "OriginalError"]`

[2016-09-04 18:39] MarkHerhold commented on #116
@joozek78 Thanks for the response.

So if I understand correctly, to get an overall patch success / failure (`true`/`false`) result, we need to:

* catch any errors thrown from `apply()`
* ensure that all test operations return `true`

Unfortunately we cannot take a shortcut here and check that all results are not false because remove/replace operations could result in a false value in the array.

[2016-09-04 19:43] MarkHerhold commented on #64
I think this can be closed, correct?

[2016-09-05 10:53] tomalec commented on #116
@MarkHerhold You're right that such simple check become quite complicated.
Probably you can optimize your code a little bit, assuming that operation is successful only if it applied all the operation objects => check the length and last test operation.

On the other hand we could think about adding custom property (like `.successful`) to the array returned by `apply`. It may not be 100% clean and

[2016-09-05 11:58] joozek78 commented on #116
I think it's okay - it's making the most popular task the simplest

On Mon, 5 Sep 2016 at 12:53 Tomek Wytrębowicz <notifications@github.com>
wrote:

[2016-09-05 15:39] MarkHerhold commented on #116
I would be in favor of adding a `.successful` boolean result to the array for this use case. Presently I have the code above as a wrapper in my own project and would rather not see another module published to handle this very specific check. So if we are :+1: on the approach I can look at PRing a change.

Yay/nay?

[2016-09-05 16:39] tomalec commented on #116
Unless @warpech has any comments. We are :+1: to go.
PR is naturally welcome :)

[2016-09-08 11:35] tomalec commented on #120
Good catch, thanks for reporting. I'll fix it in upcoming version.

[2016-09-08 12:48] tomalec commented on #117
Seems link regression of https://github.com/Starcounter-Jack/JSON-Patch/issues/55 @ugieska are you fine with removing this link at all? (especially from non-minified versions)

[2016-09-08 13:37] tomalec commented on #120
Fixed in [1.0.1](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.1)

[2016-09-08 13:37] #120 closed

[2016-09-08 13:38] tomalec commented on #117
[code]
Was removed in [1.0.1](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.1)

Feel free to reopen in case you do not like such solution.

[2016-09-08 13:38] #117 closed

[2016-09-10 20:36] MarkHerhold commented on #118
Are you aware of the [test operation](https://tools.ietf.org/html/rfc6902#section-4.6)?

The test operations automatically get run on `apply()`.

[2016-09-10 20:37] MarkHerhold commented on #108
@tomalec Does it make sense to move this repo and some of the other JSON-Patch related projects into a new org?

[2016-09-10 21:11] tomalec commented on #118
I would also suggest what @MarkHerhold mentioned above.
As that is the JSONPatch-way to do it.

However, there we also support undocumented, internal `_get` operation. So you can do: `var obj2 = jsonpatch.apply(obj, [{op: "_get", "path": "/foo"}]);`. You can also use any other simple JSON Pointer getter.

[2016-09-10 21:21] tomalec commented on #119
Sorry, but I don't quite get it.
In your code example there is no change being made. Even if there are add+remove of the same node, the result of `generate` will show you the result of those two changes - noting changed - no patches.

Could you provide jsfiddle with an example?

[2016-09-10 21:53] MarkHerhold opened #121 "Running validateSpec.js, Unit tests"
I'm trying to run the tests in prep for PR'ing a change and there doesn't seem to be anything that actually runs the `validateSpec.js` tests. I see the test file is referenced in some of the HTML runners but when I purposefully cause a `validateSpec.js` test to fail I don't get any errors in the console.

Also, some tests fail out of the box.

![image](https://cloud.githubusercontent.com/assets/49

[2016-09-11 20:21] MarkHerhold commented on #121
Ping @tomalec
Could you advise on this?

[2016-09-12 10:57] tomalec commented on #121
My advice would be to run HTML runners for now http://starcounter-jack.github.io/JSON-Patch/test/SpecRunner.html, http://starcounter-jack.github.io/JSON-Patch/test/SpecRunnerDuplex.html

Unfortunately, CLI ones does not work. I've spend entire weekend trying to fix it :| `jasmine-node` is out-dated, but updating it to 2.5 as proposed at http://jasmine.github.io/2.5/node.html does not work either a

[2016-09-12 12:05] MarkHerhold commented on #121
Hmm... interesting. These tests look easily port-able to mocha, which I use a lot. I could look into getting that to run as an intermediate solution.

Also, I wrote:

Can you confirm that test failures are actually displayed in the HTML runners?

[2016-09-12 12:12] tomalec commented on #121
We are using mocha in our other projects as well. So, I would say it's good idea :)

If I do purposefully cause a `validateSpec.js` test to fail it is displayed in `/JSON-Patch/test/SpecRunnerDuplex.html`

[2016-09-12 14:50] sandrokeil commented on #119
Ok, maybe I've a bug in my code. I will check this, but it could take some days. Thanks.

[2016-09-12 22:07] MarkHerhold commented on #121
@tomalec Ah, I see the failing test now, but only in Safari (not in Chrome). That's unfortunate...

[2016-09-12 22:36] tomalec commented on #121
Really? and if you try for example
1. http://starcounter-jack.github.io/JSON-Patch/test/SpecRunner.html
2. Open dev tools (f12),
2. Put a break point at 28th line of http://starcounter-jack.github.io/JSON-Patch/test/spec/validateSpec.js (ctrl+p 'validateSpec', click on 28th)
3. Reload (f5),
4. type: `error="smth"` to the console
5. Run script (f8)

[2016-09-12 23:01] MarkHerhold commented on #121
I was running the tests locally. I was getting CORS and one other error. The benchmark worked just fine in Chrome.

[2016-09-13 09:12] tomalec commented on #121
Strange, are you trying to run it via web server or just `file://` (I run it via http server and it works fine.)

[2016-09-14 05:06] isaacdcm commented on #118
Is the best way to put this all together to have a loop go through the returned patch, identify the paths being modified, do a _get or similar call, and then prepend the patch step with a "test" operation?

[2016-09-14 08:31] tomalec commented on #118
Do you need to check if the modified node has a specific value, or just check if there is any value at all?

[2016-09-14 12:17] tomalec commented on #121
@MarkHerhold I made `npm test` work again.
Can we close this issue, or do you have any more questions?

[2016-09-14 13:03] isaacdcm commented on #118
A specific value.  What I want to accomplish is the following.  Say 2 users both download a JSON file at the same time.
They both make edits in different parts of the file and upload their results.
On the client side (the one using JSON-Patch) I want to capture the previous value that was in the data structure prior to the change.

On the server side, I want to check that value prior to patching t

[2016-09-14 13:26] tomalec commented on #118
Have you treid PuppetJS or JSON Patch OT?
[PuppetJS](https://github.com/PuppetJs/PuppetJs) is a library made also by our team to handle asynchronous, distributed, real-time collaboration on JSON documents using JSON Patches. It solves the problem you described for you.

[JSON Patch OT](https://github.com/PuppetJs/JSON-Patch-OT-agent) is a piece of underlying tech/science it simple.

Here you have

[2016-09-14 13:27] tomalec commented on #57
It's implemented, but I believe we need more descriptive work to be done: project page, demos, examples, docs.

[2016-09-14 13:30] MarkHerhold commented on #121
Let's close. Thanks!

On Wed, Sep 14, 2016, 8:17 AM Tomek Wytrębowicz <notifications@github.com>
wrote:

[2016-09-14 13:33] #121 closed

[2016-09-19 05:49] anjo commented on #95
We're doing this in a patch

@@ -347,6 +339,7 @@ var jsonpatch;
         for (var t = oldKeys.length - 1; t >= 0; t--) {
             var key = oldKeys[t];
             var oldVal = mirror[key];
+            if(key.indexOf("$") == 0) continue;
             if (obj.hasOwnProperty(key) && !(obj[key] === undefined && _isArray(obj) === false)) {
                 var newVal = obj[key];

[2016-09-20 03:00] danielsimons1 opened #122 "compare does not work for Dates"
jsonpatch.compare does not work when comparing objects with dates. If the object1.dateField != object2.dateField the resulting patch list does not contain { op: 'replace', path: '/dateField'... as it should. The reason is that the check at https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch-duplex.js#L352 returns true because `typeof date === 'object'`

[2016-09-20 03:05] MarkHerhold commented on #122
You can't really represent Date objects in JSON, which I think is why JSON-Patch doesn't support this.

You could try converting the dates to a UTC string.

[2016-09-20 03:20] richardschneider commented on #122
I agree with Mark, dates are evil.  Always use a UTC string

On 20 September 2016 at 15:05, Mark Herhold <notifications@github.com>
wrote:

[2016-09-22 19:25] arosequist opened #123 "Undefined fields show as removed when using compare"
This:

[code]

and this:

[code]

both return `[{op: 'remove', path: '/a'}]`, but I would expect `[]`.

[2016-09-23 09:53] tomalec commented on #95
We cannot hard-code such check, as many other project uses properties with `$` in name as any other.

I would also advise either filter it by yourself or use external library that does it for you (like https://github.com/PuppetJs/PuppetJs)

[2016-09-23 09:59] #95 closed

[2016-09-23 10:00] tomalec commented on #95
I closed the issue, as the OP is pretty old and I hope it's answered. If not, please feel free to re-open.
//cc @davidleureka

[2016-09-23 10:15] tomalec commented on #122
As already stated in https://github.com/Starcounter-Jack/JSON-Patch/issues/86, https://github.com/Starcounter-Jack/JSON-Patch/issues/4 we are not going to support `Date` as it's not a valid JSON value and we would like to keep best performance possible to support things defined in RFC spec.

As stated before you should be able to use UTC string.

[2016-09-23 10:15] #122 closed

[2016-09-23 10:16] tomalec commented on #122
If you have any other comments feel free to continue or re-open.

[2016-09-26 15:28] MarkHerhold commented on #77
@tomalec This can be closed now. Please do a patch release when you have time! Thanks! 👍

[2016-09-26 17:37] tomalec commented on #77
Thanks @MarkHerhold  for support :)
[1.1.1](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.1.1) released.

[2016-09-26 17:37] #77 closed

[2016-09-27 09:22] kunerd opened #125 "Adding a function produces wrong operation object"
The following:
[code]
produces the not standard compliant output:
[code]

https://jsfiddle.net/17ehyuLk/5/

[2016-09-27 14:31] MarkHerhold commented on #125
What did you expect to happen?

[2016-09-27 14:55] kunerd commented on #125
I don't know, maybe throw an error or ignore functions completely, but the patch output should comply with the RFC.

[2016-10-04 22:27] PaulBHillyard opened #126 "when comparing sparse arrays, an incorrect 'replace' operation can occur instead of or along with an 'add' operation"
My problem deals with arrays that don't have an item at every index. When sparse arrays are compared and the second array has an item at an index not found in the source array, this triggers a 'replace' operation to be recorded by jsonpatch.compare().  If the arrays have different 'length' properties, then an 'add' operation will also be added to the patch list.  I've found that commenting out the

[2016-11-05 10:37] heruan opened #128 "Support for Map and Set"
I noticed that the observer does not keep track of modification in JavaScript `Map` and `Set` objects. It would be useful to be able to add a callback to handle special types like these!

[2016-11-10 16:24] leth opened #129 "How to import with typescript so checking works?"
I'm importing like this
[code]
The code imports fine, but typescript complains like this: `Cannot find module 'fast-json-patch'.`
I notice that the `.ts` file declares the module name as "jsonpatch", perhaps this is the problem?

[2016-11-14 12:02] tomalec commented on #128
We are targeting for fastest possible JSON Patch implementation. `Map` and `Set` are not valid JSON objects. So, I don't think your problem should be solved by this library, unless `fast-json-patch` missed modifications in JSONified version of your JS object (`JSON.parse(JSON.stringify(jsObj))`).

I believe patching JS object would be definitely awesome feature. However, I'm affraid

1. We will no

[2016-11-14 12:08] tomalec commented on #126
We were already targeting to solve this use case with `Array.observe` once it was supported at least in few browsers. Unfortunately, it was deprecated>

We thought about trying to implement wider `add`, `move`, etc support for generating patches with `Proxy`. However it may take us a while.

I would be happy to see the changes you proposed in PR as it would be easier to understand what you mean :)

[2016-11-14 17:46] tomalec commented on #125
I would say that for sure we should not generate non-RFC-compliant patches for RFC-compliant JSON changes.
This is not RFC-compliant JSON change.

Speaking of how do we handle non JSON cases:
1. I'd like to avoid implementing JSON validator. However if there is a need for that I'd say we should put it at least in separate function, similar to `validate(patches, obj)`, or even library/file. PRs/pro

[2016-11-14 17:48] tomalec commented on #119
I'm closing it. Feel free to re-open, once you will be able to reproduce it.

[2016-11-14 17:48] #119 closed

[2016-11-14 17:49] tomalec commented on #118
I'm closing it as answered. Feel free to re-open if you have anything else to add.

[2016-11-14 17:49] #118 closed

[2016-11-14 19:28] charlieamer opened #130 "Compare function doesn't produce any patches when dates differ"
The following code shows what I am talking about:
[code]
The code above right now produces
[code]
But it should produce
[code]

[2016-11-17 19:33] MarkHerhold commented on #130
Duplicate of https://github.com/Starcounter-Jack/JSON-Patch/issues/122

[2016-11-21 16:01] #123 closed

[2016-11-21 16:17] #83 closed

[2016-11-21 16:33] tomalec commented on #130
@charlieamer If there is anything more you would like to discuss, feel free to re-open #122 and continue there.

[2016-11-21 16:33] #130 closed

[2016-12-02 16:05] warpech commented on #96
I know that some other frameworks attempted adapting Proxy and failed: https://github.com/vuejs/vue/issues/3020. But perhaps our case is different.

[2016-12-02 17:15] MarkHerhold commented on #96
What is 'our case'?

[2016-12-02 17:56] Toub opened #132 "ES6 module export"
Is it planned to be webpack compatible?

[2016-12-02 20:08] warpech commented on #96
Deep observing of a plain Javascript object without modifying it.

[2016-12-03 01:07] MarkHerhold commented on #132
I use it with webpack just fine...

[2016-12-03 09:41] Toub commented on #132
After a npm install, I got the following error when importing the library:

[code]
[code]
I tried to remove and re-install the npm module twice in case it was corrupted, but it is probably something related to the module declaration.

Maybe not related to webpack, I am using node v6.9.1, npm 3.10.8, typescript 2.0.2 and webpack 2.1.0-beta.20

[2016-12-03 17:35] MarkHerhold commented on #132
@Toub jsonpatch it's just

[code]

[2016-12-06 20:03] cgarn3 commented on #129
I had the same issue.  I was importing the same as you :

`import * as jsonpatch from 'fast-json-patch';`

When I ran my application via: `npm start` , it would complain `Cannot find module 'fast-json-patch`.
So I would have to comment the import out and anything else using jsonpatch in my code in order for `npm start` to work (which is weird because I could use all the methods from jsonpatch fine

[2016-12-06 21:06] leth commented on #129
Thanks, I think this is a different issue; the code imports and runs fine so there's no problem with the translation.
The problem is flagged up by the type checking (which is independent of the translation); the typescript definitions use a different module name to the npm module name.

[2016-12-08 14:33] Toub commented on #132
Ok, so the problem is not related to webpack, but to the ES6 module syntax my project is using.

ES6 module syntax:
[code]

CommonJS:
[code]

RequireJS:
[code]

So until json-patch is ES6 compatible, I will be using RequireJS syntax:

[code]

Thanks for your help.

[2016-12-08 14:35] Toub commented on #132
Related to #111

[2016-12-16 11:33] tomalec commented on #108
Travis authorized, builds are running https://travis-ci.org/Starcounter-Jack/JSON-Patch/builds/184506368

@MarkHerhold We discussed it few times,  but we still don't have any consensus.
Needless to say we cannot find a good name ;)

Feel free to open separate issue about that if you think it is still valid.

[2016-12-16 11:33] #108 closed

[2016-12-16 13:55] baranga commented on #76
This issue is still present. I updated my possible fix #100 to newest version: #134. This comes with a speed penalty.

[2017-01-03 17:48] alshakero opened #139 "Logo suggestion"
@tomalec and I have talked about building a github.io website for JSON-Patch in our free time. It would yield a good marketing boost if we make one. And it's super easy with ready readme.md and JSDoc viewers. For this to happen, we need a logo and a color palettes. So I prepared this logo, what do you think?

![image](https://cloud.githubusercontent.com/assets/17054134/21617119/f65b7a12-d1e4-11e6-

[2017-01-03 23:31] sstone1 opened #140 "Changes in 1.1.4 cause issues with browserify/babelify"
The changes in 1.1.4 cause issues with a combination of browserify/babelify.
All the functions go missing and cannot be called in the resulting file.

I've built a small reproduce and posted it here: https://github.com/sstone1/JSON-Patch-issue
To recreate after a `git clone` and `npm install`, run the following command:

[code]

With the previous version of this module, the compare function is ava

[2017-01-04 09:48] warpech commented on #139
The main problem is that this repo has a little bit of an identity crisis.

### Is it called "Fast-JSON-Patch" or "JSON-Patch"?

We tried to the name a while ago. We have consistently renamed it to "Fast-JSON-Patch" (including the URL). What happened next is that this project dropped in Google search results from page 1 to page 3 or so... and did not come back for many months! So we've reverted to

[2017-01-04 11:05] alshakero commented on #139
@warpech I see, it's not a big deal, the logo isn't the issue here, it's just a stepping stone toward the website. So maybe I can design sth that doesn't have any text. Because a website without a logo hardly looks nice.

[2017-01-04 11:57] tomalec commented on #139
What about using JSON-Patch as "main" logo and adding small "fast" and "by .." to it?
That way from page design point of view, it would be clear that the page is about JSON Patch implementation, but we will also indicate the package name an owner

[2017-01-06 01:32] tomalec commented on #132
Please try [1.1.4](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.1.4)

[2017-01-06 01:33] tomalec commented on #111
We are moving forward ES6 modules, please try [1.1.4](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.1.4)

[2017-01-06 01:33] #111 closed

[2017-01-06 02:08] philwhln commented on #140
I'm hitting this too.

[2017-01-06 09:22] Toub commented on #132
Still the same error:

[code]

[code]

[2017-01-06 13:02] tomalec commented on #132
@alshakero Could you take a look?

[2017-01-06 13:41] alshakero commented on #132
@tomalec yes, I am aware of this and that's why I suggested grunt-ts. Today I'll try to give you the final answer of it's needed or there is another way.

[2017-01-06 14:45] warpech commented on #132
Btw. @alshakero could you pls add release notes for 1.1.4?

[2017-01-06 18:46] tomalec commented on #140
Thanks @sstone1 for great issue report.

If we will not fix it within a week, we will release 1.1.5 with reverted changes.

[2017-01-09 17:11] #132 closed

[2017-01-10 08:51] warpech opened #142 "Add release notes for 1.1.4"
Version 1.1.4 was released without any release notes in https://github.com/Starcounter-Jack/JSON-Patch/releases

@alshakero could you please add some?

[2017-01-10 16:35] CoachHockey commented on #109
Are there any updates with regard to this issue, or is there an existing workaround for generating patch notation in angular 2?

[2017-01-10 17:21] alshakero commented on #142
Done.

[2017-01-10 17:21] #142 closed

[2017-01-10 17:41] alshakero commented on #129
Well it's fixed now but I guess we're not going to release a new version only for it.

There are two walkarounds for the mean time:
1. Use fast-json-patch by cloning this repo instead of npm installing it.
Or
2. Go to `node_modules/fast-json-patch/package.json` and add `"typings": "./src/json-patch-duplex.ts"`. after `"main": "./src/json-patch-duplex.js"`

[2017-01-10 17:42] alshakero commented on #109
Well it's fixed now but I guess we're not going to release a new version only for it.

There are two walkarounds for the mean time:
1. Use fast-json-patch by cloning this repo instead of npm installing it.
Or
2. Go to `node_modules/fast-json-patch/package.json` and add `"typings": "./src/json-patch-duplex.ts"`. after `"main": "./src/json-patch-duplex.js"`

[2017-01-10 22:21] suni-masuno opened #143 "Summation of Patches"
Is it possible, or reasonable, to take an array of patches and sum them into a final set of patches without an original document?

example...
[code]
and sum it to the actual final modification
[code]

Would this be a feature request?
NOTE: I could apply then compare to recreate this, but I'm interested in doing it without an original.

[2017-01-11 15:23] jvanharn commented on #129
In order to make the `var jsonpatch = require('fast-json-patch');` version work you need to use the *import* statement in order to tell Typescript what you're doing: `import jsonpatch = require('fast-json-patch');`

[2017-01-11 16:30] leth commented on #129
My current import statement looks like this:
[code]

How does that translate?

[2017-02-02 02:50] EricBourland opened #144 "deep clone implementation causes issues when observing objects with special json serialization behavior"
if you observe an angular $resource object, generating a patch from it will always have two extra patch operations for the $promise and $resolved properties, because the deep clone implementation removes those two properties. This is because angular $resource objects do not include $promise or $resolved when they JSON.stringify

[2017-02-02 08:34] alshakero commented on #144
Have you tried observing a deep cloned copy of your object from the begining to achieve consistency?
As in:
[code]
You can collect the `deepClone` function from our code and use it.

For the mean time this works because JSON-Patch compares the data itself disregarding the address of the object, so passing the object or passing a copy of it wouldn't make a difference.

[2017-02-02 18:44] EricBourland commented on #144
That does work, but unfortunately in my case I cannot clone the object before passing it in, as I need to observe the original object, not a copy.

[2017-02-02 18:51] EricBourland commented on #144
I suggest checking if observer.object has a toJSON function and comparing against the result of calling that in generate instead of comparing against observer.object directly.

[2017-02-06 15:37] alshakero opened #146 "Remove TS code and add Typings"
After our discussion regarding PuppetJS, it makes sense to apply the same arguments and remove TS code and keep a maintained `typings` file for TS users.

@warpech WDYT?

P.S: I consulted @tomalec already.

[2017-02-13 23:01] nicksnyder commented on #129
Any reason why not? I just ran into this issue and it would be nice to not have to hack around it.

[2017-02-13 23:07] nicksnyder commented on #129
I tried @alshakero workaround (2) and got some errors

[code]

[2017-02-14 16:25] nicksnyder opened #147 "Replacing root object with an array doesn't work"
I ran into two cases that this library does not seem to handle.

Apply diff to add these tests:

[code]

Test output:
[code]

[2017-02-14 16:33] nicksnyder commented on #147
I submitted a PR to add these tests to the official tests here:
https://github.com/json-patch/json-patch-tests/pull/30/files

[2017-02-15 09:53] alshakero commented on #147
That's true, but a JS array doesn't qualify as a JSON Object. It does qualify as a JS object, but not a JSON object.

Reference: http://www.json.org/

[2017-02-15 17:58] nicksnyder commented on #147
I don't understand why you think this distinction is relevant.

sequence of operations to apply to a JavaScript Object Notation
(JSON) **document**;

I don't think it matters that a JSON array is not a JSON ***object***; a JSON array is still a valid JSON ***document***.

This is a valid JSON document:
[code]

This fact is re-iterated in section 3 of [RFC 6902](https://tools.ietf.org/html/rfc6902#

[2017-02-16 00:16] nicksnyder commented on #129
Now that 1.1.5 is released, workaround (2) isn't necessary but I still get the above type errors if I `import * as jsonpatch from 'fast-json-patch';`

Falling back to `var jsonpatch = require('fast-json-patch');` works (albeit with no type information).

[2017-02-16 13:35] felixfbecker commented on #146
Apparently the TypeScript source was only recently added to the NPM package, this broke our builds. TypeScript source should never be in NPM packages, only the compiled .js and .d.ts.
A .gitignore should ignore .js and .d.ts (the dist folder), a .npmignore should ignore the .ts files (the src folder)

[2017-02-16 13:59] felixfbecker commented on #109
The fix is wrong and broke our builds. `typings` is supposed to point to a .d.ts file, not to a .ts file.

[2017-02-16 14:00] alshakero commented on #109
@felixfbecker it depends on your TSC config. However, we'll add a legit typings file soon.

[2017-02-16 14:10] alshakero commented on #146
@felixfbecker the source was always there, only `typings` config was added to `package.json`. This applied your `tsconfig` config on the code and caused the issue. I'll fix this ASAP.

[2017-02-16 14:15] felixfbecker commented on #146
@alshakero thanks for the quick response, I realised now the `typings` property is the culprit. Could you take a look at #148? That should fix it and improve the setup overall

[2017-02-17 10:35] warpech commented on #147
If this PR is accepted in https://github.com/json-patch/json-patch-tests/pull/30, then I agree we should implement it, especially given that we actually support JSON array as the JSON root, as presented in the above comment.

[2017-02-17 11:12] #146 closed

[2017-02-17 11:14] felixfbecker commented on #109
Can be closed

[2017-02-17 11:14] felixfbecker opened #150 "Better TS typing"
Atm many params are typed `any`. There are good (not perfect) typings here: https://github.com/types/npm-fast-json-patch/blob/master/index.d.ts

Would be great to integrate these into the TS source.

[2017-02-20 15:22] JSteunou commented on #140
@tomalec what's the status on this? We also have this issue with webpack. I'm afraid all CommonJS import are broken.

[2017-02-21 04:39] nicksnyder commented on #147
@warpech @tomalec Is there a reason you would wait for that to get merged before fixing it here? Even if the spec doesn't require this behavior (I believe that it does, but even if it doesn't), this seems like a reasonable thing for this library to handle correctly.

JSON 8 handles this correctly
https://json8.github.io/patch/demos/apply/

<img width="690" alt="screen shot 2017-02-20 at 8 34 48 pm

[2017-02-21 09:05] alshakero commented on #147
@nicksnyder `fast-json-patch` modifies the object in place. And please correct me if I'm wrong, but changing the object itself to an array would mean loosing its binding.

If you look at JSON8, it returns a brand new pointer that you can bind to a new variable that is unrelated to the original object, and that of course makes it possible. But as far as I know you can't replace an object with anyth

[2017-02-21 10:16] warpech commented on #147
That's a good point @alshakero, I missed that.

Does `fast-json-patch` already correctly support replacing the root of an object to an object and root of an array to an array?

As the name of our library in NPM suggests, we aim to be fast and robust. We should not make any changes that degrade the performance.

We want to make it possible to use fast-json-patch with external proxies and replacing

[2017-02-21 10:25] alshakero commented on #147
Yes and yes.

[code]

[code]

[2017-02-21 15:01] nicksnyder commented on #147
I am not sure what you mean, mind elaborating?

This seems like a reasonable thing to do if supping this would compromise other design goals.

You could also implement a version of apply that does return a value (so it can return a new reference if necessary). Most operations could still be done in place.

[2017-02-21 22:01] tomalec opened #151 "Plans to deprecate -duplex and promote Proxy"
As a continuation to https://github.com/Starcounter-Jack/JSON-Patch/issues/96 with ready and promissing implementation at https://github.com/Starcounter-Jack/JSON-Patch/pull/138

We have draft a brief plan for the future of `json-patch-duplex` and new shiny Proxy version.
Here  what we discussed with @warpech and @alshakero :

1. Create a new repo for JSONPatchProxy/JSONProxyPatch in [PuppetJS](ht

[2017-02-21 22:09] alshakero commented on #151
@tomalec. Gold! Thank you for noting everything. By the end of this week most of this will be done.

[2017-02-22 09:29] alshakero commented on #151
So if we agree with JSONProxyPatch, should I call the _class_ JSONProxyPatch? As in `new JSONProxyPatch()`?

[2017-02-22 12:09] warpech commented on #151
This looks correct according to how most official APIs are named in ECMAScript (https://www.ecma-international.org/ecma-262/5.1/#sec-15.12)

[2017-02-22 16:36] hanouard opened #152 "JSON diff on arrays"
Hello,

I'am using JsonPatch.compare on 2 objects with array and the calculated diff doesn't ignore the order on the 2 arrays.

Example:
`Obj1 = {list:[{arch: 'x64', arch:'x86'}]}`

`Obj2 = {list:[{ arch:'x86', arch: 'x64'}]}`

My expected result: `diff=[]`
Since i only changed the order and the content is the same.

Is there a hidden option to enable this kind of behavior?

[2017-02-22 16:41] alshakero commented on #152
There shouldn't be. Because
[code]
actually means
[code]
and
[code]
actually means
[code]

You're using the same key for two values. The second one will override the first.

[2017-02-22 17:04] hanouard commented on #152
sorry, i've messed up my example:
`Obj1 = {list:[{arch: 'x64'}, {arch:'x86'}]}`

`Obj2 = {list:[{ arch:'x86'}, {arch: 'x64'}]}`

[2017-02-22 17:52] alshakero commented on #151
So here is the [semi-final version.](https://github.com/alshakero/JSONPatcherProxy) Don't worry about the naming, or the logo (2 mins, not mine).

What I did:

1) Cleaned the code a little bit.
2) Migrated proxy tests. Now they run on Browser and Node.
3) Tested on Edge, Chrome, Safari, IE and FF. Only IE fails.
4) Tested on Safari iOS, Chrome iOS, both work, but tests (not the lib) need perfectin

[2017-02-22 22:25] warpech commented on #151
No need for that, you can just transfer the ownership to the right org.

[2017-02-23 11:38] alshakero commented on #151
Update:

- All tests now pass on Edge, Firefox, Chrome and Opera. And on mobile they pass on Safari iOS and Chrome iOS.
- TS types are legit now, with documentation and IntelliSense works great.

I think this is done so far. I'll move to rename PuppetJS.

[2017-02-23 15:02] alshakero commented on #151
Transfered to Palindrom org.

[2017-03-07 10:18] alshakero commented on #151
@tomalec should we start deprecating and promoting proxies? And will Palindrom 3.0.0 use them?

[2017-03-22 01:39] alshakero opened #154 "Expose `json-patch.js` in the Node module"
After migrating Palindrom to ES6 Proxies. I noticed that we don't use `compare`, `generate` or any `json-patch-duplex.js` functions anymore. Yet, we are bundling its code in Palindrom for nothing, _I guess_.

So we need to allow NPM users to choose between `json-patch.js`, and `json-patch-duplex.js`. And this unfortunately is a breaking change. If you approve, it would be very simple to do by addi

[2017-03-22 09:47] warpech commented on #154
Is it possible to do `require('fast-json-patch/apply)` in Palindrom?

Like it is done in [lodash](https://github.com/lodash/lodash).

[2017-03-22 11:07] alshakero commented on #154
@warpech woah, that's an amazing idea. Executing instantly!

[2017-03-22 11:56] alshakero commented on #154
@warpech your comment was like an epiphany. Turns out this works without any change to `fast-json-patch`.

Like this:
[code]

[2017-03-22 11:56] #154 closed

[2017-03-22 13:47] AndrewIsh opened #155 "Compare on array with element removed"
I'm querying the generation of a patchset in which the first element of an array is removed, [here's an example](https://jsfiddle.net/AndrewIsh/g02dbL95/).
I would expect the appropriate patch here would be:

`[ { "op": "remove", "path": "/myArr/0" ]`

Is there a particular reason why I'm getting the more verbose (but still correct) patchset?

[2017-03-22 15:48] alshakero commented on #155
Generally speaking, even though the function is called `compare` it isn't meant to exactly compare two distinct objects, as much it is designed to tell the story of what changed to a given object _compared to its image one time unit ago._

It's more of change tracker than a comparision tool.

---

The second point is that it's an array. And array order is important and is part if it's _identity_.

[2017-03-24 17:49] mrenvoize commented on #155
Hmm, I would have said the rfc for json-patch was fairly clear here https://tools.ietf.org/html/rfc6902#section-4.2

Are you saying that AndrewIsh is incorrect in saying that the two patches are equivalent, and that instead his patch would introduce a hole in the array?

[2017-03-24 18:29] alshakero commented on #155
I'm starting to see the point clearer now, thanks.

Hmmm not exactly. When we deep clone the object, we use the `JSON.parse(JSON.stringify)` method, and this automatically drops the `undefined` elements from arrays. So the two sequences are equivalent in effect.

But I believe that's more of a JSON limitation than a mathmatical issue with our impl., check [this section](https://github.com/Starcoun

[2017-03-27 07:57] AndrewIsh commented on #155
Hi @alshakero

Thanks for the additional details. I'm afraid I'm still not understanding.

I'd have thought the "story" of what happened in my case is simp appendedly that the first element was removed. According to the rfc that @mrenvoize posted, JSON-Patch should be handling how to achieve the resulting model (shifting all other elements to the left) internally, it shouldn't be manifesting in th

[2017-03-27 09:31] mrenvoize commented on #152
Array order is significant in JSON, quoting [rfc7159](https://tools.ietf.org/html/rfc7159#section-1): 'An array is an ordered sequence of zero or more values.'

[2017-03-27 10:00] mrenvoize commented on #155
I reckon there's some speed optimisation going on here.. it must be easier to create the patch this lib creates than the 'simplest' patch that the rfc allows or something along those line?

I'm just wondering what that optimisation is, so I can understand it ;)

[2017-03-30 09:11] danieldonev opened #156 "Cannot find the .ts files"
I use Ionic 2. When I use npm install, only the js files are retrieved. I think it would be nice to have the .ts files in the /src at least.

After reading the .npmignore i found that there is this '*.ts'. Is there a reason why the .ts files are ignored ?

[2017-03-31 20:16] KamranAsif opened #157 "Potential performance improvments"
Hey,

Along side https://github.com/Starcounter-Jack/JSON-Patch/pull/149, I wanted to share some improvements I made on our fork. We managed to get 70x sped up in some cases.

The reasons I'm submitting this as a discussion and not as a PR as these are some breaking changes, but I figured it's worth sharing.

We use fast-json-patch to simulate immutable data in our system. We compare the old data

[2017-04-01 10:25] alshakero commented on #152
@mrenvoize Thanks!

Closing as answered..

[2017-04-01 10:25] #152 closed

[2017-04-03 08:15] johanlelan opened #158 "How to add or replace in JSON-PATCH"
I have a question for the JSON-PATCH developers and users. I have so many clients asking me why `"op": "replace"` returns a `OPERATION_PATH_UNRESOLVABLE` on not existing path. Their argument is that JSON-PATCH is used to lower the bandwith. But this need to known the resource before computing "add" or "replace" operation. (ie. send HTTP GET before computing the HTTP PATCH)

It could be reasonably

[2017-04-03 08:18] johanlelan commented on #158
I found an quite useful answer : https://tools.ietf.org/html/rfc6902#section-4.1

In the RFC, `add` could be invoke on existing field!!!

[2017-04-03 08:18] #158 closed

[2017-04-18 19:12] SimonSchick commented on #156
@tomalec can confirm, also DefinetlyTyped just deleted the @types package fixing this would be a good thing.

[2017-04-18 22:55] tomalec commented on #156
I think it was by accident. @alshakero recently was making some changes around packages and ts. Unless he has different opinion, I'd say we should add it back.

[2017-04-19 08:00] danieldonev commented on #156
I would be really happy if this could be fixed soon. AFAK it requires just a single file change.

[2017-04-19 13:09] alshakero commented on #156
A quick vacation pause :)

TS files were removed to follow TS practices according to @felixfbecker in his PR https://github.com/Starcounter-Jack/JSON-Patch/pull/148.

I don't see any harm in putting them back.

[2017-04-19 13:10] felixfbecker commented on #156
Thanks for the mention. Indeed this is a best practice, and you shouldn't need them in the npm package. What do you need the TS files for in the npm package?

[2017-04-19 13:12] felixfbecker commented on #156
Okay, the issue here is ***not*** that .ts files are not published, the issue is that .d.ts files are not published. https://github.com/Starcounter-Jack/JSON-Patch/pull/159 should fix this.

[2017-04-19 13:20] tomalec commented on #156
@alshakero, @felixfbecker Thanks for comments :) I'll merge #159 then

[2017-04-19 13:21] #156 closed

[2017-04-19 13:42] tomalec commented on #157
Wow, thanks for sharing your ideas!
70x speed up sounds impressive!

We will get back to longer discussion once @alshakero is back from vacation, so we could involve entire team.

1. Removing cloning sounds like a heavy performance improvement, but it may also break a lot. We will have to review all our use-cases and consult it with our clients and users. Maybe we could implement is behind some fl

[2017-04-19 13:48] SimonSchick commented on #156
When can we expect a publish?

[2017-04-19 13:50] tomalec commented on #156
Done, few seconds ago ;)

[2017-04-19 14:41] warpech commented on #157
Thanks for your will to contribute! As long as all tests are passing, and there is no degradation in the benchmark (https://github.com/Starcounter-Jack/JSON-Patch/blob/master/CONTRIBUTING.md, CTRL+F `bench`), we should strongly consider it.

[2017-04-19 17:27] MRamos62786 commented on #150
What about this one:
https://github.com/MRamos62786/DefinitelyTyped/blob/3adb314ef365eb93b94babaf972a90793386c377/types/fast-json-patch/index.d.ts

I got it into the DefinitelyTyped repo but the typings for this module were removed with:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/15645

[2017-04-20 06:22] danieldonev opened #161 "Getting error "has no exported member 'jsonpatch'.""
I am trying to use the library in Ionic 3 (AngularJS typescript).
I have opened an issue about the missing *d.ts files, which resulted with new version 1.1.9.
But now when I write ```import {jsonpatch} from 'fast-json-patch';```
I get this error
[code]

Am i doing something wrong, or the module is just not compatible with AngularJS typescript?

[2017-04-20 06:32] alshakero commented on #161
Just use `import jsonpatch from 'fast-json-patch'`.

[2017-04-20 06:32] danieldonev commented on #161
I am closing the issue and leaving the soution for other people with the same problemn.
After brief reading online documentation (duh...) i fund that the right way to import is:
```import jsonpatch from 'fast-json-patch';```

[2017-04-20 06:32] #161 closed

[2017-04-24 14:53] justechn opened #162 "Performing an add on an array instead does replace"
I have an array of objects and I would like to add an additional object. At the time I create the operation I don't know the length of the array so I don't add an index in the path.

I setup my operation like this
[code]

However when the operation occurs instead of adding to the array the original array is replaced.

If I add an arbitrarily high number as the index it works fine.
[code]

It would

[2017-04-26 07:57] alshakero commented on #144
Closing as done.

[2017-04-26 07:57] #144 closed

[2017-04-26 08:15] alshakero commented on #129
`import jsonpatch from 'fast-json-patch';` works just great. Could you try, please?

[2017-04-26 08:18] alshakero commented on #96
[Can I close this? ](https://github.com/Palindrom/JSONPatcherProxy)

[2017-04-26 08:26] alshakero commented on #162
[As per the standard](https://tools.ietf.org/html/rfc6902#page-18), you have to use `-` as the index. Tested and works as expected.

You can try this:
[code]

Output:
[code]

[2017-04-26 10:16] warpech commented on #96
Yes. Patch generation using ES6 Proxy was implemented as a separate package: https://github.com/Palindrom/JSONPatcherProxy

In this repo we continue to have dirty-checking based patch generation, but it will be deprecated in future. Follow https://github.com/Starcounter-Jack/JSON-Patch/issues/151

[2017-04-26 10:16] #96 closed

[2017-04-26 10:16] warpech commented on #151
Update: Patch generation using ES6 Proxy was implemented as a separate package: https://github.com/Palindrom/JSONPatcherProxy

In this repo we have a dirty-checking based patch generation, but it will be deprecated in future.

[2017-04-27 14:59] nicksnyder commented on #129
`import jsonpatch from 'fast-json-patch';` works, thanks!

[2017-04-27 15:00] alshakero commented on #129
@nicksnyder thank you for your feedback!

Closing as solved.

[2017-04-27 15:00] #129 closed

[2017-04-30 16:41] felixfbecker commented on #150
@MRamos62786 those look good! Care to do a PR to integrate them?

[2017-04-30 17:06] felixfbecker commented on #147
Imo this is a major shortcoming. It's true that with the current API it is not possible to update the root to a new object reference (without using Object.setPrototypeOf() of course, which is super slow). But letting `apply()` always return the (possibly new) root value would be a very easy and backwards-compatible way to enable this use case for those who need it.

[2017-04-30 18:56] felixfbecker opened #163 "hasUndefined is bad"
This function is found in the codebase:

[code]

- there is no `typeof obj == 'array'`. `typeof` an array is `'object'`. You must use `Array.isArray()` (preferred) or `instanceof Array`. This means the function doesn't actually iterate arrays
- `typeof null` is also `'object'`, this is not checked for
- `for in` is slow as it needs to walk the prototype chain. `Object.keys()` is faster
- `for in`

[2017-04-30 19:06] alshakero commented on #163
@felixfbecker would certainly appreciate a PR!

[2017-05-01 04:39] nicksnyder commented on #147
FYI, my PR to add tests for this case was accepted
https://github.com/json-patch/json-patch-tests/pull/30

[2017-05-01 11:17] MRamos62786 commented on #150
@felixfbecker, I've submitted https://github.com/Starcounter-Jack/JSON-Patch/pull/164.

[2017-05-01 17:31] felixfbecker commented on #147
Having an `apply()` variant that just takes a document and a single patch and returns the updated document would make it perfect for `reduce()`:
[code]
Makes it super easy to work with an RxJS Stream of JSON patches, for example.

[2017-05-01 17:58] alshakero commented on #147
@felixfbecker that sounds great! Thank you. @tomalec WDYT about `applyPatch`?

[2017-05-01 18:06] alshakero commented on #147
@nicksnyder as for your question on:

We now have a brand new implementation of object observation using ES6 proxies. And this method returns a new `Proxy` object that we can't afford to replace. Any change to this object emits a patch synchronously, and this makes it much more semantic and less error-prone. This implementation is only for observation and doesn't have `apply` or `validate` in it.

[2017-05-01 18:21] felixfbecker commented on #147
well, it would be possible to create a Proxy for an object that then holds a reference to the root object. That way you could update that as well. But I personally do not have a use case for generating patches automatically, I just need to apply them, including setting the root value initially.

[2017-05-01 20:30] alshakero commented on #163
@felixfbecker I'm going for this, I thought I should tell you in case you were about to go for it too.

[2017-05-04 14:27] warpech commented on #163
Context: that was added in https://github.com/Starcounter-Jack/JSON-Patch/issues/73

Totally agree with the OP

[2017-05-05 08:32] alshakero commented on #163
Closing as fixed.

[2017-05-05 08:32] #163 closed

[2017-05-05 08:33] alshakero commented on #162
Closing as answered.

[2017-05-05 08:33] #162 closed

[2017-05-05 08:37] alshakero commented on #150
@felixfbecker good to close? I think @MRamos62786 nailed it.

[2017-05-05 08:43] #150 closed

[2017-05-09 20:55] felixfbecker commented on #147
@alshakero Are you planning to fix this? I took a shot at it but really don't understand the codebase well enough to understand what's going on. I currently need to use the much slower library by bruth which handles this correctly.

[2017-05-09 21:03] alshakero commented on #147
@felixfbecker I'll go for it ASAP. What should happen if someone applied
[code]
[This one is breaking ](https://json8.github.io/patch/demos/apply/).

[2017-05-09 21:10] felixfbecker commented on #147
That is not behaviour is not defined in the spec. The root path is mentioned specifically in the `add` spec:

but not for other ops. Given `replace` can be viewed as a `remove` + `add`, and `add` is valid for the root path, it may make sense to not error but set the root to `null`.

[2017-05-09 21:14] alshakero commented on #147
@felixfbecker excellent.

[2017-05-10 08:01] alshakero opened #166 "_equals function doesn't work properly"
It returns true for comparing any two objects with the same key-count:

Demo here: https://jsbin.com/puxipanela/1/edit?html,js,console,output

This breaks `test` operation if it was between any two objects.

[2017-05-10 09:22] alshakero commented on #147
@felixfbecker would you mind reviewing the PR https://github.com/Starcounter-Jack/JSON-Patch/pull/167?

[2017-05-10 13:01] alshakero opened #168 "Create demos"

[2017-05-10 16:21] JasonMore opened #169 "not compatible with react-native `import jsonpatch from 'fast-json-patch' `"
Hey guys,

I was checking out your lib as an alternative to JSON8/patch my react-native project. I wasn't able to use it out of the box do to the lines below. `exports` is undefined, but `module.exports` is defined:

[code]

I also use seamless-immutable which handles the same issue slightly different https://github.com/rtfeldman/seamless-immutable/blob/master/src/seamless-immutable.js#L739

[code

[2017-05-11 18:24] KamranAsif commented on #157
@tomalec @warpech Are there any of these you would want prioritized? Otherwise I'll probably implement the no-clone flag

[2017-05-11 18:29] felixfbecker commented on #169
The export handling is extremely hacky. It should be a proper UMD wrapper: https://github.com/umdjs/umd

If TS can't find `module` etc. we just need to add `@types/node` as a dev dependency.

[2017-05-15 08:48] felixfbecker opened #171 "Replace parseInt with bitwise operation"
`~~` or `>> 0` will convert it's input to an unsigned integer and is a lot faster than `parseInt`.

https://jsperf.com/number-vs-parseint-vs-plus/24

[2017-05-15 08:52] alshakero commented on #171
I got this:
![image](https://cloud.githubusercontent.com/assets/17054134/26049802/89375cfa-395c-11e7-8426-48ab74823234.png)

[2017-05-15 08:53] felixfbecker commented on #171
In what browser?

[2017-05-15 08:54] alshakero commented on #171
Chrome Version 58.0.3029.110 (64-bit)

But I checked the graphs below and it seems like a very very recent enhancement in Chrome.

[2017-05-15 08:55] felixfbecker commented on #171
![image](https://cloud.githubusercontent.com/assets/10532611/26049910/07c13c6c-395d-11e7-872d-790c7ab57464.png)

[2017-05-15 08:57] felixfbecker commented on #171
Tbh I have a hard time believing that, because `parseInt` needs to handle a lot more cases like exponential notation, negative numbers, hexadecimal notation, octal notation and has the overhead of a function call.

[2017-05-15 08:58] alshakero commented on #171
Me too, I'm checking on another machine.

[2017-05-15 09:01] alshakero commented on #171
This one agrees ![image](https://cloud.githubusercontent.com/assets/17054134/26050127/d76c1a68-395d-11e7-949f-91f2b68cfdcb.png)

[2017-05-15 09:06] alshakero commented on #171
I guess ~~ it is.

[2017-05-15 09:55] tomalec commented on #171
I really like to approach of optimizing every single line :) but maybe we should also compare benchmarks of entire `apply`, not to try be smarter than JS engine with micro-optimization?

[2017-05-15 10:07] tomalec commented on #143
That's a really great idea, we already faced similar concerns many times. But in favor of [Unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy), I'd rather see it as separate tool like "JSON-Patch compresor"/"optimizer", so you could do:
[code]
This compression could take an **optional** argument `tree` as a context optimize even more, but probably in more expensive manner.

//cc @alsha

[2017-05-15 10:24] felixfbecker opened #173 "Export function to escape pointers"
This is currently done inline with `.replace()`, it would be very helpful in applications

[2017-05-15 10:25] felixfbecker commented on #151
yes please. The code duplication between the duplex and normal version is horrible for making changes.

[2017-05-15 10:31] felixfbecker commented on #171
It won't be slower for sure ;) Why go the effort for more benchmarks if the effort to just make the changes is less than that?

[2017-05-15 14:03] alshakero commented on #173
You mean this line?

[code]

[2017-05-15 14:09] felixfbecker commented on #173
yep. I have written a function that does this + a function that does the inverse in my application and realized it would be easier if fast-json-patch just exported them since it needs them too. Basically `encodeURIComponent` and `decodeURIComponent`, but for JSON Pointers instead of URIs.

[2017-05-15 14:11] alshakero commented on #173
This one actually `unescapes` right? Because we already have this:

[code]

[2017-05-15 14:12] felixfbecker commented on #173
yes, but both would be helpful.

[2017-05-15 14:22] alshakero commented on #173
Yes yes, I'm just asking for naming purposes.

[2017-05-15 17:47] tomalec commented on #171
What I had in mind is to make the changes, then check using existing benchmarks to be absolutely sure.

[2017-05-15 18:01] tomalec opened #174 "Update versions in jsperf"
@alshakero maybe you will have more luck, for me jsperf.com throws an error and deletes test-cases in new revisions.

I think it would be nice to show up-to-date graphs in README.md

[2017-05-16 17:37] larvanitis commented on #166
You should check for the superset of both objects' keys.

So instead of:

[code]

do this:

[code]

[2017-05-17 12:25] alshakero opened #175 "Make `applyOperation` a standalone function and use it inside `applyPatch`"
For a cleaner and more concise code, we decided the followed:

1. Create a standalone `applyOperation` function (i.e doesn't call other functions).
2. Create a new `applyPatch` function that loops on operations and calls `applyOperation`.
3. Export a deprecated `apply`.
4. Add a reducer function `applyReducer` to be used with `Array.reduce`.

@tomalec did I get everything right?

[2017-05-17 12:33] felixfbecker commented on #175
Why does the reducer have to be a separate function?

[2017-05-17 12:53] alshakero commented on #175
@felixfbecker because `applyOperation` returns a single result of what `apply` returns now. Not the original/result object.

[2017-05-17 13:12] alshakero commented on #175
[code]

[2017-05-17 16:47] tomalec commented on #175
@felixfbecker We took your suggestions on our architecture quite seriously and we would like to drop the functionality that [rewrites properties for root operations](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch.js#L131) and replace the object instead.

Also, we thought it would be convenient to have `applyOperation` - a function that applies single operation object - e

[2017-05-17 18:28] felixfbecker commented on #175
I think having `applyPatch` just call `applyOperation` makes a lot of sense. But as I understand, if `applyOperation` and `applyPatch` (and the deprecated `apply`) all return a result array, then they will not support replacing the root, correct? If that is true I am worried why we introduce 2 new functions that don't support the full JSON Patch spec + 1 deprecated, but only have one that supports

[2017-05-17 21:53] alshakero commented on #175
@felixfbecker I guess it was my fault to not explain well. `applyOperation` will indeed work on root 💃

We decided to handle that in all our libs higher in the stack.

[2017-05-17 22:31] alshakero commented on #175
@tomalec I guess I am going for the `{ document, results }` method.

If we want to apply on root, we can't return results. That's why I'll return `{ document, result }` and then

`applyPatch` could use `applyOperation().result`
`applyReducer `could use `applyOperation().document`

[2017-05-18 06:05] felixfbecker commented on #175
I would make `applyPatch` return `{ document, result }` too

[2017-05-18 08:22] alshakero commented on #175
@felixfbecker yes that's what eventually happened.

[2017-05-18 09:40] tomalec commented on #175
Both will support replacing root object.

I don't think supporting replacing root collides with returning result array.

To be able to support `applyReducer` and to make `results` any usefull for patches that replaces root , `result` simple need to contain `newDocument` reference, so we eventually end up with the conceptually same think as `{document, result} ~= result {removed, newDoc}` :)

[2017-05-18 09:43] tomalec commented on #175
So I rather thought about:
- `applyOperation :Result`
- `applyPatch: Result[]`
- `applyReducer: JSON` could use `result = applyOperation(); result.newDocument`

But I guess it's more or less the same thing you proposed/

[2017-05-18 09:46] felixfbecker commented on #175
I'm a bit confused, what is the interface of `Result`? What's the benefit of returning an intermediate result for every array item in `applyPatch`, considering without cloning it's the same object reference so it can be the same regardless of mutations?

[2017-05-18 09:55] alshakero commented on #175
@felixfbecker `results` is some weird array that you shouldn't worry about. It has nothing to do with JSON patch spec or JSON patch in general. They're used later to notify Polymer about tree modifications. For instance, `add` operation returns nothing (that's what Polymer needs), while `remove` returns the removed object. And `replace` returns the removed object too! You shouldn't really bother t

[2017-05-18 11:07] felixfbecker commented on #175
@alshakero I understand that, but assuming I want to use the `applyOperation` and `applyPatch` API, how would I get the final updated document? That's why I asked about its interface.

[2017-05-18 11:09] alshakero commented on #175
I'll document everything. It's `applyOperation().document` and `applyPatch.document`.

[2017-05-18 13:04] tomalec commented on #175
[code]

How would you get the reference to removed `{something: 'deeper'}` object if `outcome` is equal just `tree` and does not return results of intermediate steps? (without applying `jsonpatch.applyPatch(deepClone(tree), patch[0..2]);`)

[2017-05-18 13:18] tomalec commented on #175
Sorry my comment above is the answer to https://github.com/Starcounter-Jack/JSON-Patch/issues/175#issuecomment-302355775, as I didn't refresh the page to see your later comments.

[2017-05-18 13:44] alshakero opened #176 "`deepClone` is slower than traversing the object recursively"

[2017-05-19 17:47] tomalec commented on #176
Just one of the first google results for jsPerf.com https://jsperf.com/deep-copy-vs-json-stringify-json-parse/25

[2017-05-19 17:53] alshakero commented on #176
I don't understand, on my machine, it's the second worst way

![image](https://cloud.githubusercontent.com/assets/17054134/26260221/b373fa28-3ccc-11e7-8c90-4d6029ee57e7.png)

[2017-05-21 10:41] gaurav21r commented on #91
@tomalec Any updates on this?

[2017-05-21 11:35] alshakero opened #177 "Copy operation doesn't deep clone, only references"

[2017-05-22 18:24] felixfbecker commented on #177
Why is that a problem?

[2017-05-22 20:27] tomalec commented on #177
It may be for someone expecting resulting object to be a JSON tree. You cannot use JSON syntax to create reference, you can only create two identical nodes.

[code]
at this point your object looks like:
[code]
with current implementation
[code]
changes also `foo/bar`. Which is pretty confusing as `jsonpatch.applyOperation(JSON.parse(JSON.stringify(obj)), {op: 'replace', path: 'copied/bar', from: '

[2017-05-29 09:59] tomalec commented on #157
I have no personal preference, maybe just start with simplest or the one making the biggest impact.
//cc @alshakero

[2017-05-29 10:18] alshakero commented on #157
Terribly sorry for the late response. I suggest holding your horses. Because we'll be releasing 2.0 quite soon and it's more modular. All your changes will be in one place (instead of two almost identical files like now) and I have a couple performance improvements in mind already. Waiting for that will make both our lives easier.

[2017-05-29 10:23] #147 closed

[2017-05-29 11:14] alshakero commented on #175
Done in https://github.com/Starcounter-Jack/JSON-Patch/pull/167

[2017-05-29 11:14] #175 closed

[2017-05-29 11:15] alshakero commented on #173
Done in https://github.com/Starcounter-Jack/JSON-Patch/pull/167.

[2017-05-29 11:15] #173 closed

[2017-05-29 11:26] alshakero commented on #66
Now you can use [`getValueByPointer`](https://github.com/Starcounter-Jack/JSON-Patch#jsonpatchgetvaluebypointerdocument-object-pointer-string).

[2017-05-30 04:17] shockey opened #178 "1.2.0: Get operation chokes on empty path"
Hi everyone,

I help maintain [swagger-client](https://www.npmjs.com/package/swagger-client), which depends on `fast-json-patch` 1.x.x. I was opening a PR today against our repository, and started seeing CI failures even though my local was fine.

I was able to isolate the issue to `fast-json-patch`. 1.1.8 is fine, but 1.2.0 breaks ten tests in our suite that uses `apply`.

Here's a piece of sampl

[2017-05-30 05:33] felixfbecker commented on #178
Looks like a bug to me, but FYI there is now `getValueByPointer()` as a public API for `_get`. But it uses `_get` under the hood, so likely affected too.

[2017-05-30 09:11] alshakero commented on #178
Thank you for the elaborate reporting! Will get back to you ASAP.

[2017-06-01 08:14] #76 closed

[2017-06-01 08:36] alshakero commented on #177
Closing as fixed in https://github.com/Starcounter-Jack/JSON-Patch/pull/134

[2017-06-01 08:36] #177 closed

[2017-06-01 09:29] alshakero commented on #178
@shockey released 1.2.1!

FYI, as @felixfbecker has said, please avoid using `_get` operation, it is not part of the API and might be removed or changed without being considered as a breaking change. The correct alternative is [`getValueByPointer`](https://github.com/Starcounter-Jack/JSON-Patch#jsonpatchgetvaluebypointerdocument-object-pointer-string). And it's much cleaner.

Thanks a lot :))

[2017-06-02 02:54] shockey commented on #178
@alshakero thanks for the quick turnaround on this! can we get an `npm publish` of this version?

[2017-06-02 07:22] alshakero commented on #178
@shockey done.

[2017-06-02 16:42] shockey commented on #178
@alshakero, I just pulled down 1.2.1 and I'm seeing the same issue 😕

Here's my example running against the latest version: https://runkit.com/shockey/593194bafad712001247593c

[2017-06-02 18:17] felixfbecker commented on #178
It works for me with `getValueByPointer`

[2017-06-02 18:21] alshakero commented on #178
@shockey I was a little hesitant to fix an edge case for a deprecated API. But published 1.2.2 🎊

I've just noticed that your example isn't correct BTW. If you want to `_get` a value, you should use `patch.value` after you call `apply`. It worked in 1.8.1 because `apply` didn't throw an error and `doc` is already `doc`. Calling apply was, in fact, extraneous in your example.

Here is an example if

[2017-06-02 20:09] felixfbecker opened #181 "Don't export the whole jsonpatch namespace as default export"
Currently, only a `default` export exists, that is a namespace with all the functions. Instead, these functions should rather all be exported directly, without a namespace wrapper around them. This should be possible:
[code]
but only this works:
[code]

[2017-06-02 21:41] felixfbecker commented on #181
This would be best solved by writing the source as a proper ES6 module, then wrapping it in a UMD wrapper in a build step.

[2017-06-03 02:09] shockey commented on #178
@alshakero thanks for the fix! tests are looking good again in our repository.

I'll open a ticket to refactor the `_get` usage on our end, but we've kinda made our bed with this: all our currently-released versions of swagger-client target [the current major version of `fast-json-patch`](https://github.com/swagger-api/swagger-js/blob/ee420550c55f39525761993d0cf35dbebf7f464d/package.json#L64). I t

[2017-06-03 02:09] #178 closed

[2017-06-03 15:51] alshakero commented on #178
More than welcome! Cheers! 🍻

[2017-06-08 15:48] alshakero commented on #171
Closing as done in https://github.com/Starcounter-Jack/JSON-Patch/pull/167.

[2017-06-08 15:48] #171 closed

[2017-06-08 15:51] alshakero commented on #116
I guess this issue is rendered irrelevant with the new API. WDYT @tomalec.

[2017-06-08 15:52] alshakero commented on #93
Isn't this fixed by https://github.com/Starcounter-Jack/JSON-Patch/issues/140?

[2017-06-12 12:17] tomalec commented on #116
I think.I think it still is relevant.

Especially, as @MarkHerhold [stated](https://github.com/Starcounter-Jack/JSON-Patch/issues/116#issuecomment-244621138) it's hard to get single `true`/`false` answer for entire patch.

I think the flag mentioned above could be a solution.

[2017-06-12 12:22] tomalec commented on #93
Looking at just code, I'm not so sure
https://github.com/Starcounter-Jack/JSON-Patch/pull/167/files#diff-2b195b8e1323c973a44eefb88a63a5c7R778
does not clone.

[2017-06-12 12:24] alshakero commented on #116
Doesn't `applyOperation` throw an exception when it fails [now](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/src/json-patch.ts#L369)?

[2017-06-12 12:47] tomalec commented on #116
So the solution to the problem wold be to just
[code]
?

[2017-06-14 13:01] #140 closed

[2017-06-23 18:54] dounan opened #183 "Potentially undesired behavior in duplex.ts with toJSON and Date objects"
On line 194, there is a check to see if the object has a `toJSON` function, and sets `obj = obj.toJSON()` if there is.
https://github.com/Starcounter-Jack/JSON-Patch/blob/406a6ddba0165271e4e767ff9c41bcbbebdf307e/src/duplex.ts#L194

The test for this case creates a function that returns an `Object` for the `toJSON()` function:
https://github.com/Starcounter-Jack/JSON-Patch/blob/406a6ddba0165271e4e7

[2017-06-26 15:32] alshakero commented on #139
Now that the website is being realised. A logo is a real need.

After a little thinking, I vote for advertising it as `fast-json-patch`. Because no one needs to remember the repo's name, but everyone needs to remember the NPM's name to (`npm install fast-json-patch`). So I propose this logo:

![image](https://user-images.githubusercontent.com/17054134/27547073-116169fa-5a95-11e7-9dc6-c7323d391fe5.

[2017-06-26 17:40] tomalec commented on #139
:+1: from me as well.

Regarding the logo, I would say it's hard to read first two letters, is it FJ or EJ or even A, as the spaces are so tiny.

What about just mixing JSON logo with a diff icon and something to indicate speed?

At first sight I thought it was a clock between the letters, colors are barely visible. Also the clock may suggest that it's time related for example time consuming :-1:

[2017-06-26 17:53] tomalec commented on #139
Then we do not have "f" nor "fast" in the logo it self, but we could or could not put it on a side of it (depending on the name we would like to have). but the logo will match our implementation goal to keep it fast.

[2017-06-27 15:44] sgoll opened #184 "TypeError: obj.hasOwnProperty is not a function"
In certain situations, `compare` fails to calculate a valid JSON patch and throws a `TypeError` with this message instead:

`obj.hasOwnProperty is not a function`

In my case, this happens when running objects created by GraphQL's `graphql` method through fast-json-patch. One location where this error originates is this line in json-patch-duplex.js:

[code]

In fact, this error will be thrown when

[2017-06-28 11:24] alshakero commented on #184
Closing as done and [released](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/v2.0.3)! Thank you @sgoll 🎉

[2017-06-28 11:24] #184 closed

[2017-07-01 15:27] MarkHerhold commented on #166
I think this can be closed @alshakero, right?

[2017-07-02 07:44] alshakero commented on #166
Yes. Closing as fixed in https://github.com/Starcounter-Jack/JSON-Patch/pull/182.

[2017-07-02 07:44] #166 closed

[2017-07-04 10:35] alshakero commented on #181
Closing as fixed in https://github.com/Starcounter-Jack/JSON-Patch/pull/182.

[2017-07-04 10:35] #181 closed

[2017-07-04 10:37] alshakero commented on #139
![image](https://user-images.githubusercontent.com/17054134/27827013-92e8f6d4-60b5-11e7-93de-c293a7de714a.png)

[2017-07-05 10:08] warpech commented on #139
Cool! A nice rebus :)

[2017-07-06 08:37] tomalec commented on #139
but now it's "JSON fast patch", what about ⚡{±}?

[2017-07-06 12:18] sgoll commented on #155
I guess in order to implement optimally short array patches one would have to find the solution to the [longest common subsequence (LCS) problem](https://en.wikipedia.org/wiki/Longest_common_subsequence_problem).

This might be feasible when the array elements are simple primitives—it becomes much harder when arrays contain other arrays or objects. Consider this:

[code]

What did happen here? Was

[2017-07-06 20:30] alshakero commented on #139
@tomalec I guess it looks too sparse and weird, but here you go
![image](https://user-images.githubusercontent.com/17054134/27931511-bebd8054-629a-11e7-9e57-21ad24d8ca35.png)

[2017-07-12 18:49] alshakero commented on #171
Maybe ~~ is slow 😆
https://youtu.be/g0ek4vV7nEA?t=544

[2017-07-17 12:47] jankeromnes opened #186 "Validation: jsonpatch.applyPatch() accepts "patches" that are Objects but not Arrays"
Steps to reproduce:

[code]

- Expected behavior: An error is thrown (something like "Invalid JSON Patch").
- Actual observed behavior: No error is thrown (just like if `patch` was an empty Array).

In the [applyPatch implementation](https://github.com/Starcounter-Jack/JSON-Patch/blob/02187fbc74f3718ac7498f3c9b955df79cc1c3e2/src/core.ts#L327-L336), we can see that if `patch` is an object like `{}`

[2017-07-19 08:24] alshakero commented on #186
Hi! Thank you and I agree, we should error when this happens. Will look at it soon.

[2017-07-21 13:10] #186 closed

[2017-07-21 13:33] alshakero commented on #186
Released 2.0.4. Thank you so much @jankeromnes.

[2017-07-21 13:48] jankeromnes commented on #186
My pleasure! Thanks for fixing it so quickly 😃

[2017-07-24 08:00] #174 closed

[2017-07-24 12:25] tomalec commented on #174
Thanks @alshakero !

[2017-08-02 15:36] warpech opened #189 "Add release notes"
Some versions listed in https://github.com/Starcounter-Jack/JSON-Patch/releases do not have release notes

[2017-08-02 16:09] alshakero commented on #189
Do I need to write notes for minor fixes like fixing this issue? https://github.com/Starcounter-Jack/JSON-Patch/issues/186

[2017-08-03 10:51] warpech commented on #189
Just mention any changes that were made, otherwise, I have no clue if `2.0.4` different from `2.0.3` by 1 bug fix or 100 bug fixes.

[2017-08-17 14:46] rogerburton opened #190 "add timestamp of change in observer"
Hello,
sorry for my bad english.
How ... where to add a date for each patche in Observer ?

Thank you,
Roger Burton

[2017-08-29 11:40] alshakero opened #191 "Array properties aren't applied correctly"
https://runkit.com/alshakero/59a5458630dbb800128c17db

[2017-08-29 12:06] alshakero commented on #191
Closing as fixed in https://github.com/Starcounter-Jack/JSON-Patch/commit/5312d1dee67f511821aebe85819113fd0f96b295.

[2017-08-29 12:06] #191 closed

[2017-09-21 04:52] jpillora opened #192 "Dates lost with deepClone, results in incorrect patch"
See output in comments below

[code]

[2017-10-20 14:16] endel commented on #157
@KamranAsif is your fork available on GitHub?

I noticed that the `_generate`  method is slower on version `2.0` than it used to be on `1.x`.

[2017-10-20 14:29] KamranAsif commented on #157
@endel I don't think that fork is available publicly. Its owned by @schrodinger, @wcjordan could open source it.

I've created my own lib for my needs: [KamranAsif/evil-diff](https://github.com/KamranAsif/evil-diff)

[2017-10-20 19:11] wcjordan commented on #157
Sure, it should be open since it's an open source license, but someone probably fat fingered making the repo private.

[2017-10-20 21:28] wcjordan commented on #157
@KamranAsif  @endel it should be public now: https://github.com/schrodinger/JSON-Patch
Shouldn't have ever been private.

[2017-10-21 12:39] tomalec commented on #157
@wcjordan @KamranAsif @endel Thanks for Open-sourcing your repo! :)

Since it's not marked on Github as a fork, it's harder to compare this two. Is the 1.1.4 the last version at which you forked?
Here is the diff, I managed to get from Github https://github.com/schrodinger/JSON-Patch/compare/58202f4ca0a2034c1e5dcdb23f49b60c6534e914...master
I hope we can merge some of those ideas to `fast-json-pat

[2017-12-29 07:52] sachinpachori opened #195 "Compare method giving wrong results"
Hi,

I am comparing two states of the same form where in debug mode it is showing 3 values changed however in returned array it is giving 4 values with 3 op = replace and 1 op= add. Don't know why.
Uploaded the images.
Can you please let me know what is the issue?
![image](https://user-images.githubusercontent.com/1555285/34432228-92511f12-ecc9-11e7-8bb7-2501c78e5d9d.png)

![image](https://user-im

[2017-12-29 10:52] alshakero commented on #195
Hello! It's a little hard to understand the example provided with all those read markings and covered keys. Could you please create a simpler reproduction on jsbin.com?

I created this boilerplate for you https://jsbin.com/qidoqud/1/edit?html,js,console.

[2018-01-02 18:52] gsferreira opened #196 "Typo in the "Comparing two object trees" example"
There's a typo in the readme.
Extra parentheses in the "Comparing two object trees" example.

I will submit a PR.

[2018-01-02 19:06] alshakero commented on #196
Closing as fixed in #197. Thanks a lot @gsferreira :)

[2018-01-02 19:06] #196 closed

[2018-01-11 09:53] alshakero commented on #189
Closing as every version now has release notes.

[2018-01-11 09:53] #189 closed

[2018-01-24 17:13] warpech commented on #128
Closing as this idea was reviewed and dismissed in PR #198 for the following reason:

The goal of `fast-json-patch` is to be the fastest JSON-Patch implementation in JavaScript. This comes with the price of reduced compatibility. We cut corners such as assuming strict JSON compatibility in the observed objects.

[2018-01-24 17:13] #128 closed

[2018-02-08 21:45] villesau opened #199 "Add option to relax applyPatch to add if path does not exist?"
I have a case where I'd like to get only changed values as a new object. This is useful for many APIs which are able to take also subset of values, updating just delivered values and leaving the rest alone. This could be achieved like this:

[code]

But in case of nested objects things gets difficult:

[code]

Here applyPatch throws as it can't _replace_ the value since key nested is not found. I

[2018-02-09 10:44] warpech commented on #199
Thanks for suggesting, but sorry, this is directly against the spec.

See the last paragraph of the section 4.1 in the spec: https://tools.ietf.org/html/rfc6902#section-4.1

There is a test for that in https://github.com/json-patch/json-patch-tests/blob/86ad182cbc2ba0c4ed0f539753a283c6c9755f21/spec_tests.json#L7

You will have to solve it differently.

Closing as won't fix.

[2018-02-09 10:44] #199 closed

[2018-03-24 10:54] alshakero commented on #195
Closing for lack of response from the OP.

[2018-03-24 10:54] #195 closed

[2018-04-14 19:16] mj-interactive commented on #155
Frankly, `rfc6902` works as I am expecting with removal.

https://www.npmjs.com/package/rfc6902

[2018-04-22 11:13] bhushankumarl opened #200 "jsonpatch.applyReducer will not working with mongoose document"
[code]

My object contains nested object like locations.business.otherProperties

I am trying to remove entire 'locations.business' property from my user object.

But it doesn't work. The output of the Before and After console is exactly same.

Another thing is that when I took the static object instead of `req.userStore : It is data found through findOne({_id:''}) though mongoose` than it works.

[2018-04-22 13:04] alshakero commented on #200
Hi,

Thank you for reporting the issue, could you please show me what `req.userStore` looks like?

[2018-04-24 07:37] jlchereau opened #201 "More verbose and error-prone than JIFF"
[code]

len1 = 447 = 5 ops including 2 test ops
len2 = 693 = 11 ops including 0 test ops

Since neither JIFF nor JSON-Patch can move, they replace but:
- JIFF replaces the objects in the arrray
- JSON-Patch replaces each property of each object in the array

My suggestion: if there are more than X (2 or 3?) properties to replace in an object, replace the object like JIFF does.

This also puts the

[2018-04-25 07:50] bhushankumarl commented on #200
@alex3683 I have resolved the issue.
It was due to the immutable object of the mongoose.

Resolution :

[code]

[2018-04-25 07:50] #200 closed

[2018-04-25 17:34] hafeefshaik opened #202 "JsonPatch.Compare() not working properly."
**Original object :**

{
  "id": "06449690-3e21-43c9-0c13-08d5a8f9a4ff",
    "firstName": "Hafeef",
  "lastName": "Shaik",
  "roles": [
    "Developer",
    "Admin"
  ]
}

**Later added couple of other roles. Modified object:**

{
  "id": "06449690-3e21-43c9-0c13-08d5a8f9a4ff",
   "firstName": "Hafeef",
  "lastName": "Shaik",
  "roles": [
    "Admin",
    "Business Analyst",
    "Delivery Manager"

[2018-04-26 10:12] alshakero commented on #202
Hi, yes this happens when you add to the start of the array. `compare` is working properly but not in the most optimized manner.

If you want to avoid this, please add to the end of the array, use `push` not `unshift`.

Thanks.

[2018-04-28 07:37] hafeefshaik commented on #202
@alshakero as I am using angular 5 two way binding, I think it's bit hard to handle it. Is there any other work around?

[2018-05-11 10:30] alshakero commented on #202
I don't think so. If you compare the arrays manually:
[code]
and
[code]

How would you explain the difference?

[2018-05-23 06:24] RobinsonSir opened #203 "jsonpatch.generate $$hashKey"
[code]

I use jsonpatch observer to watch the above `jsonObj`, then i add one obj to `jsonObj.dtTypeEpTypes`,
`jsonObj` like this

[code]

Then I use jsonPatch generate function,   get patch operation array below:

[code]

As u can see,  it contains $$hashKey, i don't know why contains that

[2018-05-23 07:59] alshakero commented on #203
Hello :)

Could you please provide more details?

[2018-05-23 13:55] miyconst commented on #203
@RobinsonSir 请您说清楚一点，您的问题是什么？

[2018-05-25 02:11] RobinsonSir commented on #203
Nobody.......

[2018-05-25 12:48] miyconst commented on #203
@RobinsonSir please help us help you:

1. Format the code and the text you write. (See what I did with the main comment).
2. Prepare a [jsfiddle](https://jsfiddle.net/) which demonstrates the problem.

[2018-05-26 17:42] alshakero commented on #203
I assume you're using this with Angular. You see angular adds these props to the object for internal diffing. JSON-Patch itself isn't resposible for them not it is adding them.

Your best bet is filter patches and removing angular-added props. Like this:

[code]

[2018-05-28 05:17] RobinsonSir commented on #203
Yes, you are right. I use Angularjs ng-repeat with jsonObj.  Now, i remove $$hashkey by myself. Another solution i will try, thanks very much.

[2018-06-01 14:01] dpescatore opened #204 "Remove Object inside Array is verbose"
Hello,
I'm trying to remove an object from an array with a jsonpatch, but after removing I've got a lot of operations on the object performed to shift the elements of my array.

Is there another option or config param to obtain only the remove operations without shifting anything?

It should be useful if i sent JSON Patch to a server responsible of removing items and saving them to DB.

Thanks.

[2018-06-02 19:14] alshakero commented on #204
Hello!

This is the natural behavior of arrays and `fast-json-patch` accurately gives it to you. When you remove an element from an array the engine shifts every element after the removed element left by one. This behaviour is great for the fast majority of array use cases, but JSON-Patch shines a bright light on a dark side to it; this issue.

Sorry to tell you that `fast-json-patch` has no solut

[2018-06-02 19:23] #203 closed, assigned to nobody

[2018-06-02 20:13] alshakero commented on #202
Closing for lack of response.

[2018-06-02 20:13] #202 closed

[2018-06-02 20:16] alshakero commented on #190
Hello, this would break our adherence to the RFC. We can only output patches in a certain well-defined format (RFC 6902).

Sorry.

[2018-06-02 20:16] #190 closed

[2018-06-02 20:19] alshakero commented on #192
Hello!

Sorry but dates are Javascript objects. Not JSON objects. We only support serializable JSON objects, and if you look at the RFC we implement it says:

   sequence of operations to apply to a JavaScript Object Notation
   (JSON) document; it is suitable for use with the HTTP PATCH method.
   The "application/json-patch+json" media type is used to identify such
   patch documents.

Thanks.

[2018-06-02 20:19] #192 closed

[2018-06-02 20:35] alshakero commented on #65
Please see https://github.com/Starcounter-Jack/JSON-Patch/issues/204#issuecomment-394110124

I don't think we'll implement a fix for this. Because I think our observation efforts will be mainly focused on [JSONPatcherProxy](https://github.com/Palindrom/JSONPatcherProxy).

Closing but feel free to reopen.

[2018-06-02 20:35] #65 closed

[2018-06-02 20:39] alshakero commented on #151
I'll close this as irrelevant. It doesn't sound like a great idea to kill IE support while it's costing us nothing sitting here. It looks to me those two libs won't be merged anytime soon.

Unless we decide to invest in version 3.0 with a different API (that allows for internal proxies) because this one doesn't.

[2018-06-02 20:39] #151 closed

[2018-06-02 20:43] alshakero commented on #72
I can confirm this bug. I'm not sure it will be fixed in this library but I'm happy to direct you to its sister library [JSONPatcherProxy](https://github.com/Palindrom/JSONPatcherProxy) which had this issue eariler and is fixed now. And JSONPatcherProxy is a tad faster and is synchronous.

@warpech should I close?

[2018-06-02 21:16] alshakero commented on #64
Closing as [`applyPatch`](https://github.com/Starcounter-Jack/JSON-Patch#jsonpatchapplypatchtdocument-any-patch-operation-validateoperation-boolean--function--false-operationresultt) (the new `apply`) returns and array of `OperationResult.

[2018-06-02 21:16] #64 closed

[2018-06-02 21:17] alshakero commented on #31
Will be fixed in https://github.com/Starcounter-Jack/JSON-Patch/pull/205

[2018-06-02 21:18] alshakero commented on #57
Can we move this issue to OT then?

[2018-06-02 21:20] alshakero commented on #113
This is implemented in https://github.com/Starcounter-Jack/JSON-Patch/pull/167. Now root can be replaced.

[2018-06-02 21:20] #113 closed

[2018-06-02 21:45] alshakero commented on #101
PR in https://github.com/Starcounter-Jack/JSON-Patch/pull/206

[2018-06-02 21:47] alshakero commented on #143
I agree with the linux way too. I'll close this as out of scope.

---

Feel free to check https://github.com/Starcounter-Jack/JSON-Patch/issues/204#issuecomment-394110124.

[2018-06-02 21:47] #143 closed

[2018-06-02 21:50] alshakero commented on #169
This is fixed in 2.0.0. At least the exporting part. But I'm not 100% sure how this lib will behave under RN. Given RN gives you a strange `window` object.

[2018-06-02 21:50] #169 closed

[2018-06-04 11:02] tomalec commented on #65
Why `deleteProperty` trap is not able to catch it correctly?
[code]

https://runkit.com/tomalec/5b151a476d7288001244bd25

[2018-06-04 11:13] alshakero commented on #65
Because that's what the JS engine actually does. If you watch the traps in slow-motion (so to say) you see the engine replacing (shifting left) array elements one by one starting from the spliced item until it reaches the end then it removes the last element.

[2018-06-04 15:43] tomalec commented on #65
Why `deleteProperty` trap is not able to catch it correctly?
[code]

https://runkit.com/tomalec/5b151a476d7288001244bd25

[2018-06-04 15:50] alshakero commented on #65
Microsoft bugs start 🤣

[2018-06-14 09:34] FreeWillaert opened #207 "Support for JSONPath?"
I'm happy to have found JSON Patch and even happier to find your implementation, but I'm a little disappointed about the JSON Pointer capabilities - especially when it comes to arrays.

Rather than referring to array items by index, I'd like to refer to an item by any unique attribute.

I can't imagine I'm the first to want this, so I wonder: is there a different way to achieve the same result?
If

[2018-06-14 10:44] alshakero commented on #207
Hi, thank you for the nice words!

I think this is out of the scope of this project. This is just an RFC implementation and even JSON-Pointer support that we have is extra sugar. I don't think we'll support JSON-Path, especially given that we mainly focus on performance.

If that's not an example and a real use case then

[code]

This will be faster than anything we can do, since it's native. I me

[2018-06-14 11:36] FreeWillaert commented on #207
Hi, thanks for your quick response!
Indeed, following your suggestion - with findIndex instead of find - it seems trivial to implement a 'minimal' wrapper that does not support full JSONPath but does allow .../key=value/... paths.
I'll give it a try.

Still hoping for ideas to be able to use full JSONPath though :)

[2018-07-17 13:17] arosequist opened #208 "Memory leak when using observe"
[Runnable example](https://jsbin.com/gofesajele/edit?html,output)

If you `observe` an object, I think it stays in memory after all references to it are gone (even if you `unobserve` it).

I'm not certain, but I suspect that the [`beforeDict`](https://github.com/Starcounter-Jack/JSON-Patch/blob/b2d122d83f596312b04bd320f613a9ccc26676b9/src/duplex.ts#L29) is what's holding on to it. When the observe

[2018-07-17 13:44] alshakero commented on #208
Hi! Thanks for reporting this.

It is certainaly possible but this library was build before [WeakMaps](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap) were around. Now even IE11 supports them.

I'll look into this sometime soon.

[2018-07-23 04:39] bozzaj opened #209 "Improper patch created under certain scenarios"
Consider the following:

[code]

jsonpatch.compare() generates an empty patch.

The following also is invalid, related in part to the above:
[code]

The patch created is:
[code]

It seems that the change from object to an array or an array to an object isn't correctly detected.

[2018-08-21 00:05] stakira opened #211 "Capability of adding "test" op in compare result"
Being able to optionally add a "test" operation before "replace" and "remove" can be useful in certain scenarios. For example, it can be used to validate a serial of patches, and can be very helpful when it comes to json data change visualization.

Looking at the code, it seems easy enough to be done. I can make a PR if it sounds like a good idea. The remaining question is how would you like the s

[2018-08-29 12:33] alshakero commented on #208
PR in https://github.com/Starcounter-Jack/JSON-Patch/pull/212

[2018-08-29 12:33] #101 closed

[2018-08-30 10:19] #208 closed

[2018-11-19 15:58] mbeerta-idms opened #213 "NaN values cause jsonpatch.observe confusion"
When dealing with NaN values, generated patches always have a replace operation on nodes containing those.

Reproduction:

[code]

which generates the following javascript object

[code]

the first op should not be there. Converting the object to a json string leads value to be `null` , which is probably also the root cause.

[2018-11-20 11:08] pnowak opened #214 "Memory leak still continues"
Hi.

When I added JSON-Patch to dependencies (so after yours fix https://github.com/Starcounter-Jack/JSON-Patch/pull/212/files) and I implemented the `slowCheck` removed by you to our  `dataObserver` - https://github.com/handsontable/handsontable/pull/5575 - we noticed that  the memory leak still continues.
Unless I did something wrong.

[2018-11-20 11:14] alshakero commented on #214
Hi!

Could you elaborate more on this? It's true that I maintain this lib but I don't remember removing this. Could you link the PR or the commit I did this? You'd make it easier for me to help.

Thanks

[2018-11-23 07:31] NikolayMakhonin opened #215 "Unwanted behavior with array diff"
Version 2.0.7

jsonpatch.compare([1,2,3,4,5,6,7,8], [1,2,3,4,0,5,6,7,8])

0: {op: "replace", path: "/7", value: 7}
1: {op: "replace", path: "/6", value: 6}
2: {op: "replace", path: "/5", value: 5}
3: {op: "replace", path: "/4", value: 0}
4: {op: "add", path: "/8", value: 8}

For comparison: https://chbrown.github.io/rfc6902/

rfc6902.createPatch([1,2,3,4,5,6,7,8], [1,2,3,4,0,5,6,7,8]);

0: { "op":

[2018-12-02 18:45] NicolasLiveris commented on #119
Hi !

I was able to reproduce the problem in a stackblitz. This one is exactly as @sandrokeil described it.

https://json-patch-observe-issue.stackblitz.io

Thank, for help.

[2018-12-03 07:40] pixelspark opened #216 "Prevent prototype injection"
It appears fast-json-patch may be vulnerable to prototype injection depending on the way it is used. See e.g. the following code:

[code]

This will output 'hacked' twice, while there is no property `x` visible on object `doc` nor `otherDoc` when it is printed.

This becomes an issue in scenarios where patches cannot be trusted (and are not checked for this). Perhaps it is a good idea to disable p

[2018-12-03 07:42] pixelspark commented on #216
Using `prototype` instead of `__proto__` throws an error, so at least this PoC doesn't work for `prototype`:

[code]

[2018-12-03 08:27] hathemi opened #217 "JSON-Patch Node.js add element to object"
i'am trying to use fast-json-patch lib in node.js but no operation works for me. I think i have missing something in my code.
[code]

[2018-12-03 15:00] alshakero commented on #119
Maybe we need to document this but when you pass a callback to observe `generate` will not work anymore since you're getting interim changes.

If you want to use `generate` you may remove the callback from `observe` and it will work as expected.

[2018-12-03 15:12] alshakero commented on #217
Hi!

You're misusing `applyOperation` function. `applyOperation` applies a single operation not an array of operations (patch). If you want to apply an array please use `applyPatch`, otherwise pass a single operation object to `applyOperation`.

The end result is:
router.patch('/user/:uid', (req, res) => {
  var operation = {
      op: 'add',
      path: '/favoris',
      value: { user_id: req.par

[2018-12-04 06:02] NicolasLiveris commented on #119
Hi, @alshakero

So if I want to use the callback I have to generate the patch myself?

Thanks.

[2018-12-04 12:44] NicolasLiveris commented on #119
That's understood. Thank you for those clarifications and for your time.

[2018-12-04 13:57] alshakero commented on #119
My pleasure!

[2018-12-04 13:58] alshakero commented on #119
Worth mentioning that the callback will always give you an array (a patch, not a single operation).

[2018-12-09 15:54] maxlk opened #218 "Invalid patch is generated, when provided array with empty slots"
According to [RFC 6902](https://tools.ietf.org/html/rfc6902#section-4.1), when `add` operation is used to insert a new value to an array:

This requirement is not fulfilled when array contains empty slots.
For example

[code]

returns

[code]

Which is not correct according to specification, since specified index `2` (from `"path": "/2"`) is greater than the number of the elements in the array `["

[2019-01-04 10:08] warpech commented on #216
I guess, if we check for `hasOwnProperty` before applying the patch, that would be solved?

[2019-01-04 16:32] alshakero commented on #216
PR in https://github.com/Starcounter-Jack/JSON-Patch/pull/219

[2019-01-07 09:56] pixelspark commented on #216
Nice work :+1: perhaps it is also a good idea to look into *why* the version with `prototype` instead of `__proto__` does not appear to work, just to be sure all cases are covered...

[2019-01-07 10:09] warpech commented on #216
After checking https://hackernoon.com/understand-nodejs-javascript-object-inheritance-proto-prototype-class-9bd951700b29, I guess that if `obj` is a object constructor function, then manipulating `obj.prototype` would affect instances of that function.

[2019-01-16 20:55] ianvonholt opened #220 "Invalid JsonPatchError for OPERATION_VALUE_OUT_OF_BOUNDS when validating patches"
Running the following will produce an incorrect JsonPatchError:
[code]
Output:
[code]

The operation references the path, and the tree references the actual operation. Additionally, the index is wrong, as it does not reflect the index of the patch that is invalid.

All other JSONPatchErrors have the operation referencing the invalid patch operation, index that reflects the position of the invalid

[2019-01-24 15:50] cbier1 opened #222 "JSON.stringify converts dates to UTC which may not always be desirable"
When deep cloning the object to create an operation it looks like all objects are being JSON stringified. JSON.stringify converts all dates to UTC.

This is a problem if the server is giving the UI a non-utc date, and then the UI is patching that date back with a different time zone.

https://github.com/Starcounter-Jack/JSON-Patch/blob/0d6be6a09284fa694a493f39604469d082dad6d5/dist/fast-json-patch.

[2019-01-24 15:53] cbier1 commented on #222
Missed the related issues / PRs:
https://github.com/Starcounter-Jack/JSON-Patch/pull/2
https://github.com/Starcounter-Jack/JSON-Patch/issues/4

This one is slightly different in that it's not a big deal that its becoming a string. Just that the timezone is being changed

[2019-03-03 15:53] mort3za opened #223 "Is it realy tested on IE8?"
In the source code I see `new WeakMap()` which is only available in IE11. Also I've tested it on IE9 and it has an error for using WeakMap.

[2019-03-03 16:00] alshakero commented on #223
You're right. It would be appreciated if you could PR to fix the README.

[2019-03-06 08:20] mort3za commented on #223
I recommend you to generate an es5 version of the library beside current build If you want to keep es6 version (and it's a good idea because it's faster and smaller).

[2019-03-06 17:36] alshakero commented on #223
Sorry but we're not willing to maintain support for IE8. We only support IE10+.

[2019-03-06 19:01] mort3za commented on #223
IE10+ means included IE10, right?
IE10 don't understand WeakMap :)

Personally I have no problem with or without IE support, because I have included babel-polyfill, But I think supporting more browers leads to fewer hassles for developers.

[2019-03-25 14:12] warpech commented on #223
We will fix the readme to say that only IE11 is supported directly. Older browsers can by supported using a transpiling bundler, as @mort3za suggested.

[2019-03-27 13:51] #31 closed

[2019-03-27 15:24] #216 closed

[2019-03-27 16:43] alshakero commented on #220
PR in https://github.com/Starcounter-Jack/JSON-Patch/pull/221

[2019-03-30 16:36] #223 closed

[2019-04-01 13:41] alshakero commented on #220
Fixed in #221 and released 2.1.0.

[2019-04-01 13:41] #220 closed

[2019-07-02 17:46] abrad45 commented on #218
This is biting me on my project, too. This repl.it demonstrates the issue https://repl.it/repls/BouncyInfantilePrograms which returns error `OPERATION_VALUE_OUT_OF_BOUNDS`

[2019-07-18 06:09] Toub opened #230 "Be able to override JSON.parse & JSON.stringify"
I perfectly understand that this library just work with JSON object and won't Javascript objects such as Date (https://github.com/Starcounter-Jack/JSON-Patch/issues/122 https://github.com/Starcounter-Jack/JSON-Patch/issues/183).

However, one should be able to customize the serialization implementation in order to support custom different formats, using object-to-json and json-to-object.

Currentl

[2019-07-26 11:25] shubhamshinde7 opened #231 "Add operation on childs child node"
Project configuaration
Spring boot:2.1.4
json-patch:1.9
I have below json object:
{
  "createdBy": "BKADMIN",
  "creationDttm": "2019-07-22T09:56:23.000+0000",
  "modifiedBy": "BKADMIN",
  "modifiedDttm": "2019-07-24T11:12:52.000+0000",
  "startDt": "2019-04-15",
  "endDt": "2020-03-02",
  "partyId": "8a80cb816c191744016c191c59bf0001",
  "pricelistId": "8a80cb816c191744016c191c640a0002",
  "priori

[2019-08-02 19:21] shockey opened #233 "`fast-json-patch@2.2.0` is incorrectly presenting as a transpiled ES Module"
`fast-json-patch@2.2.0` is breaking builds in Swagger Client (see https://github.com/swagger-api/swagger-js/issues/1460).

### Current behavior

The problem is that `fast-json-patch` is combining the `__esModule` hint with an exports object that follows the CJS exports pattern.

2.2.0 is setting an non-enumerable `__esModule` hint property that wasn't present before:

[code]

This property is used

[2019-08-05 07:22] warpech commented on #233
Thanks for reporting. We will fix promptly

[2019-08-05 07:29] warpech commented on #233
Could you please check how does the branch https://github.com/Starcounter-Jack/JSON-Patch/tree/use-ES6-modules work for you?

To install a GitHub branch as NPM package:

[code]

Or add this to `package.json`:

[code]

And then follow the instruction in README.md to import:

https://github.com/Starcounter-Jack/JSON-Patch/blob/use-ES6-modules/README.md#in-nodejs

[2019-08-05 17:41] shockey commented on #233
Hi @warpech, this branch is causing SyntaxErrors in our tests:

[code]

I see that in your `use-ES6-modules` branch, your `package.json`'s `main` value points to a file (`module/duplex.js`) that uses import/export syntax. This isn't a best practice, since most environments (browsers, anything before Node 12) can't handle that syntax. If you want to start shipping ESM syntax, using `module` to poin

[2019-08-06 22:29] vollmerr opened #234 "Specs/tests link in readme broken"
The 'Run in browser' under Specs/tests in the readme pointing to http://starcounter-jack.github.io/JSON-Patch/test/ gives a blank screen with a bunch of 404's

[2019-08-07 10:13] tomalec commented on #234
Thanks for reporting @vollmerr.
The issue was probably introduced by me, when I switched test runner to use Jasmine & co. from node_modules instead of local hard-copy.

Locally you can run it by:
[code]
Then visit
http://localhost:5000/test/index

@warpech Do you think we should:
1. Use Jasmine from CDN for HTML spec runner https://github.com/Starcounter-Jack/JSON-Patch/blob/master/test/index.html

[2019-08-07 12:24] tomalec commented on #233
To me it seems like a weird behavior of typescript compiler https://github.com/Microsoft/TypeScript/issues/14351
It sets `_esModule` if our source is using any `import/export` regardless of the output module CJS format

[2019-08-07 17:32] tomalec commented on #233
Issue was introduced by updating typescript at https://github.com/Starcounter-Jack/JSON-Patch/commit/54911b2ae317a46d1f3450ccd10ced298b820ea3#diff-529047924cdb0e5562a8de34628a855dR111

[2019-08-08 08:03] warpech commented on #234
4. Wait for https://github.com/Starcounter-Jack/JSON-Patch/pull/232, because the HTML spec runner works OK there for any browser that supports ES modules.

[2019-08-08 12:41] tomalec commented on #234
How would that help? it still uses `../node_modules/jasmine-core...` https://github.com/Starcounter-Jack/JSON-Patch/blob/use-ES6-modules/test/index.html#L10

[2019-08-08 13:34] warpech commented on #234
Sorry, my bad. I tested locally with `npm run serve` and it worked well because I have `node_modules` locally.

Then I vote for 3. Maybe we can replace the link to spec runner with a link to working example on JSFiddle?

[2019-08-08 14:28] tomalec commented on #233
It occurred to be related to backward incompatible change related to undocumented default export.
Swagger and many other projects started to use `fast-json-patch` as it would have default export, that has a map of all named exports (`import jsonPatch from 'fast-json-patch'; jsonPatch.apply(...)`).
We don't think it's a desired usage, as that is what `import *` is for.
Probably, it was only made po

[2019-08-09 08:45] #233 closed

[2019-08-09 08:54] warpech commented on #233
Thank you @shockey for your help in resolving this. We have fixed this regression in a patch release 2.2.1 and added exernal API usage tests for this to never fail again (PR https://github.com/Starcounter-Jack/JSON-Patch/pull/236)

[2019-09-04 17:33] jeffreyabecker opened #237 "importing fast-json-patch fails in typescript / angular 6"
I'm getting an error when trying to import v 3.0.0:
`ERROR in ./node_modules/fast-json-patch/index.mjs
Module parse failed: Unexpected token (25:4)
You may need an appropriate loader to handle this file type.`

as far as I can tell this is related to how typescript deals with .mjs files. However the package itself doesnt appear to have the source typescript files to use directly.

[2019-09-06 08:35] warpech commented on #237
I just checked with a plain TS project and it seems to work as expected. I think that TypeScript works well with MJS as long as you have a current version of TSC.

Any idea what's different in your setup?

Source: https://github.com/warpech/fast-json-patch-typescript-demo-

![image](https://user-images.githubusercontent.com/566463/64413491-e017c400-d091-11e9-9c8b-1f97c033cba1.png)

[2019-09-06 13:40] jeffreyabecker commented on #237
The biggest difference I notice from that repo is that my ts code contains a line
`import * as jsonpatch from "fast-json-patch"`
Is it possible that you've not pushed something?

[2019-09-06 14:32] warpech commented on #237
Sorry, I forgot to push my final version of the files to https://github.com/warpech/fast-json-patch-typescript-demo-

Now I have pushed it and the wildcard import works OK: https://github.com/warpech/fast-json-patch-typescript-demo-/blob/master/index.ts#L2

[2019-11-06 14:11] ankushchaudhary opened #239 "Not returning any diff in case of diffrent object type"
I am using **JSON-Patch** for comparing two json object. I am getting empty diff in following cases:
<br>
Case 1:
jsonA = [] , jsonB = {} , result = []
**jsonpatch.compare(jsonA, jsonB)** returns [](empty array)
Case 2:
jsonA = {a:[]} , jsonB = {a:{}} , result = []
**jsonpatch.compare(jsonA, jsonB)** returns [](empty array)

I don't know whether it's intended behaviour or not. Can anyone clarifies

[2019-11-13 07:28] Lusito commented on #207
Any success with that? Also looking for this kind of action

[2019-12-10 09:09] rzorzorzo opened #240 "compare generates wrong path for array add"
RFC6901:

RFC6902:

the following json-patch example is not conform with above specs:

according to the specs the patch should be:

this results in an error on the server when applying the patch (in java)

[2019-12-10 10:07] #240 closed

[2019-12-10 10:08] rzorzorzo commented on #240
my bad.
The specified index MUST NOT be greater than the
number of elements in the array
in this case 0 is the size of the array.

[2019-12-11 21:32] acidduckling opened #241 "comparing property with a tilde generates incorrect patch path"
Hello,

I believe I have found a bug when generating the path for an object that has a tilde (~) in an object property. An index seems to be appended to the tilde in the path string for some reason.

Here is a small snippet which produces the issue:

[code]

**The actual output is:**
`"[{"op":"replace","path":"/my~0id/name","value":"value1 - renamed"}]"`

**The expected output would be:**
`"[{"op"

[2019-12-13 03:40] acidduckling commented on #241
I've just realised that the tilde is part of the RFC for JSON Patch:

https://tools.ietf.org/html/rfc6902#appendix-A.14

So it looks like this is expected behaviour! I will just close this ticket.

[2019-12-13 03:40] #241 closed

[2019-12-15 17:04] rszemplinski opened #242 "Way to "undo" a patch?"
Hi,

I was just wondering if there was a way to "undo" a patch I applied? I noticed the `invertible` function but don't understand what the operation `test` is actually supposed to do.

[2020-01-29 17:20] tomalec commented on #207
I am sorry to say so but given our crave for performance, keeping the library as lightweight as possible, and very limited resources, I don't think we could afford to maintain a new feature not mentioned in RFC.

[2020-01-29 17:20] #207 closed

[2020-01-29 18:48] claytongulick commented on #207
I'm tossing around the idea of adding this to: https://www.npmjs.com/package/mongoose-patcher

If mongoose is your target, and you think this would be useful, maybe we can create an issue and I can add it to the lib.

Using JSON-Patch *a lot* in RESTful apis, I can agree that constantly doing findIndex is a little wearying. If others want/need it, I think I could make it happen pretty fast.

[2020-02-07 00:03] lwestfall opened #243 "compare() on child objects, replace as complete objects"
I'm experiencing behavior that my API isn't handling well when I pass my patch document to it, I've narrowed it down to compare()'s tendency to "deep compare" only, and by that I mean it's comparing atomic properties of child objects, and generating individual replace operations deeper into the path. What I'd rather have is a single replace operation for a given child object if any property of the

[2020-02-14 04:20] jaylattice opened #244 "Build script doesn't work for OS X due to differences between `sed` in OS X and Linux."
Title explains everything, StackOverflow elaborates: https://stackoverflow.com/questions/16745988/sed-command-with-i-option-in-place-editing-works-fine-on-ubuntu-but-not-mac

I'm not really interested in submitting a PR for this, since it's not a huge concern for me. I just thought anyone else who wanted to build your package locally on OS X would want to know about this. Thank you for this librar

[2020-02-14 04:32] jaylattice commented on #242
@rszemplinski Hi Ryan. I played around with the observer code and it looks like you might be able to extract and apply test ops from the document observer. From the docs:
[code]
That said, it looks like support for reversing array mutations is not there. Another solution would be to apply each operation individually, with mutable set to `false`:
[code]
This way, you will be able to make a programm

[2020-02-14 07:47] Surg420 commented on #239
Looks like a bug and it is very critical for me.
my case:
[code]

[2020-02-26 09:00] Kaseaa commented on #239
Had the same issue pop up today.

Given the following data you would expect there to be a difference between the two variables, but it's not, presumably due to the `0` key attribute in the object, which aligns with the arrays 0th entry.

[code]

[2020-03-20 14:51] kresli commented on #243
I dont think this is a bug but correct behaviour. Think of it a way where your desired behaviour will create a new object but actually you just replacing values of object.

[2020-03-20 15:15] lwestfall commented on #243
I'm not necessarily suggesting this is a bug, but rather an opportunity to accommodate some backend ORMs.

I don't think RFC 5789 is explicit enough to say that one method is "more correct" than the other. What I can say though is that .Net Core's JsonPatchDocument and EF Core really do not seem to like these atomic replace operations on tracked entities (it thinks you want to change the propertie

[2020-04-18 18:37] AaronJY opened #249 "Disallow patching specific valid paths"
Is there a way to disallow an operation against a path that exists in my document, but that I specifically want to disallow updating? For example, an ID or created date field.

I wrote a custom validator that does this for me, using a custom error name. This all seems very messy, and I'd love to see this functionality built-in 👍

[code]

Apologies if I've missed any documentation on how to do this

[2020-04-28 11:04] jla opened #250 "compare() with Object/Array substitution"
[code]

[2020-04-29 09:01] jla commented on #250
Probably related:

[code]

[2020-05-06 10:09] TheGr8Nik commented on #209
With latest version the patch generated for the second case is:

    [{
      "op": "replace",
      "path": "/test",
      "value": {
        "xx": {
          "k": "xx"
        },
        "yy": {
          "k": "yy"
        }
      }
    }, {
      "op": "replace",
      "path": "/test",
      "value": {
        "xx": {
          "k": "xx"
        },
        "yy": {
          "k": "yy"
        }

[2020-05-07 14:42] bverhoeven opened #253 "Validation fails for patches with JSON pointer escapes (OPERATION_PATH_UNRESOLVABLE)"
We're experiencing when applying patches with JSON pointer escapes (~1') using `fast-json-patch` (3.0.0-1).

From what I read, JSON pointers need to have their slashes escaped:

    Because the characters '~' (%x7E) and '/' (%x2F) have special
    meanings in JSON Pointer, '~' needs to be encoded as '~0' and '/'
    needs to be encoded as '~1' when these characters appear in a
    reference token.

[2020-05-18 18:49] Jaskiratpal opened #254 "Possible to construct JSON object from path + value?"
Hello, after running a compare operation on two documents, I get a list of patches. Is it possible to take these patches, for example:

[code]

Then build this patch into a JSON object like this?
[code]

[2020-05-24 09:28] #209 closed

[2020-05-24 09:33] #250 closed

[2020-05-24 09:37] Starcounter-Jack commented on #239
I'm so sorry for the unreasonable delay. It should now be fixed. If you can, could you please verify that the issue is now fixed?

[2020-06-02 08:25] Starcounter-Jack commented on #254
JSON-Patch was not intended to create an object like the one that you suggested. However, the JSON pointer (the path) contains enough information to reconstruct an object void of the non-changed properties and objects. I suggest you loop through the patches and, for each patch, loop through the path while reconstructing the objects and arrays recursively.  Whenever you encounter an integer, you no

[2020-06-09 14:20] Hyperionza opened #255 "observe reporting incorrect type under observation"
I'm using FJP 3.0.0-1 on TypeScript 3.9 with Angular 9

I've got a strongly types set of UDTs analogous to:
[code]

Note 1: in the current setup, this line throws a compile time exception: Type 'Observer<ChildClass>' is not assignable to type 'Observer<ChildClass[]>'

Note 2: if I change `observer` to `Observer<ChildClass>`, then this line throws a compile time exception.

I can work around the co

[2020-06-09 14:24] miyconst commented on #255
cc @Starcounter-Jack

[2020-06-16 12:39] FrittenKeeZ commented on #78
When is this getting merged/fixed? It's not working correctly with .NET Core's JSON Patch implementation, failing with this error: `For operation 'add', the target location specified by path '/roles/1' was not found.`

[2020-06-16 12:42] miyconst commented on #78
cc @Starcounter-Jack

[2020-06-21 14:52] grumpygary commented on #239
Having similar issues.  If I had an empty array, and then change it to an object with properties, the patch will be generated, but fail when I verify it.

[code]

Will you be releasing a new version once the fix has been verified?

[2020-06-24 01:27] benitogf opened #256 "rollup warning, this has been rewritten"
not sure if it's a problem with my rollup config, has anyone seen this warning?

![image](https://user-images.githubusercontent.com/1633813/85486186-bc137800-b5fc-11ea-9c10-f1a1f578151d.png)

[2020-07-06 17:10] #254 closed

[2020-07-07 04:34] amiller-gh commented on #176
Bumping this thread – any want for this still? Happy to dig in to this and contribute back if there is interest.

[2020-07-27 08:18] Kirill89 opened #258 "Security vulnerability disclosure"
Hi,

I would like to disclose security vulnerability, but I can't find an email or any other convenient way to contact you @Starcounter-Jack privately.

Please contact me. You can find my email in the github profile.

[2020-08-11 22:41] Starcounter-Jack commented on #258
@Kirill89
Email sent.

[2020-08-11 22:47] Starcounter-Jack commented on #256
You could safely ignore that warning. Add the onwarn property to your rollup-config.js file:

[code]

[2020-08-11 22:59] Starcounter-Jack commented on #255
I suspect this is not a complete runnable example (for example there is an uncompilable comma at `jsonpatch,observe(this.obj.myList); // *1`.

It also appears that the type signature of `this.obj.mylist` is a `UserGroup` or an array of the same.

[2020-08-11 23:06] Starcounter-Jack commented on #253
This is indeed an incorrect behaviour. A pull request would be most welcome. If not, I will put it in the backlog.

[2020-08-11 23:11] Starcounter-Jack commented on #249
There is no built-in functionality for this. I think it is well suited for a separate pass before applying the patch. A router like radix tree with rights would be a good candidate maybe?

[2020-08-11 23:12] Starcounter-Jack commented on #244
Thanks for the information. I will look into this.

[2020-08-12 01:17] Hyperionza commented on #255
@Starcounter-Jack

Fixed your issue with the typo in the example - sorry, I tried to quickly write a simple example rather than paste my actual code base, which I cant for obvious reasons. Do you want a stack blitz or something?

Updated the workaround paragraph to match the example classes.

[2020-08-15 06:49] #258 closed

[2020-08-20 22:42] weikinhuang opened #260 "compare function does not return patches for objects that contain the key """
The `compare()` function does not return any differences when the two objects contain a key `{"": ""}`.

This data type is used because our PHP backend adds that key to force casting it to a js object in responses, instead of arrays, which is how the PHP json serializer works.

For example:

[code]

[2020-09-14 18:14] Starcounter-Jack commented on #260
I will look into this

[2020-09-14 18:43] #256 closed

[2020-09-30 17:53] mattcollier opened #261 "Improper versions for NPM 3.x releases"
Hello, attempting to upgrade to 3.x today and discovered issues in the versions on NPM for the 3.x series:

They have been released as `3.0.0-x`

See the `versions` tab on:

https://www.npmjs.com/package/fast-json-patch

[2020-10-02 19:16] joejordan commented on #239
Also experiencing the same issue as @grumpygary when attempting to convert an empty array into an object.

[2020-10-27 06:51] tbinna opened #263 "Discussion about Typescript typings"
I just started testing this library and I am trying to make sense of the typings. For example:

[code]
Ref: https://github.com/Starcounter-Jack/JSON-Patch/blob/2ad6af4f79af8db0516cca7089ce55295ef01bac/src/core.ts#L182

This function takes a document of type `T` and returns a result of `OperationResult<T>`. This says that the input document and output document are structurally the same which seems

[2020-11-09 11:17] tbinna commented on #263
Just wanted to update my point above with some insights. The way to think about `T` is that `T` is not just any type. `T` is any JSON compatible type. I.e. one of the following:

* a string
* a number
* an object (JSON object)
* an array
* a boolean
* null

[If Typescript had a type `Json` that describes all acceptable JSON values](https://github.com/microsoft/TypeScript/issues/1897) `applyOperati

[2020-11-09 11:17] #263 closed

[2020-11-25 18:21] libreninja commented on #244
@Starcounter-Jack I have tested a change to tsc-to-mjs.sh which resolves the problem for me on macos.

[code]

I will submit a PR with the above changes if that's helpful.

[2020-12-02 09:18] orengriffin commented on #244
@libreninja looks like I beat you to it
https://github.com/Starcounter-Jack/JSON-Patch/pull/264

[2020-12-06 18:01] seiyria opened #265 "How do you ignore properties when patching?"
Right now I'm doing this:

[code]

But it's not ideal. I'd really like to have a way to have FJP not generate patches for these properties elsewhere if possible.

[2020-12-14 11:18] JbRezidu opened #267 "Wrong generated JSON patches when using .compare()"
Hi,

I'm using the last version of json-fast-patch (`3.0.0-1`) and I'm having an issue in a special case when generating JSON patches.

The problem is simple, I have this code :
[code]
It is a simple new format of one element and we want the JSON patch related to the transformation into the new format.
The result is this one :
[code]
I don't know why but json-fast-patch add two patches that are us

[2021-02-18 01:45] rybesh opened #269 "replace incorrectly adds value when target location does not exist"
[Section 4.3 of RFC6902](https://tools.ietf.org/html/rfc6902#section-4.3) says:

But `fast-json-patch` incorrectly does an `add` instead of failing in this situation:

[code]

The result is:

[code]

[2021-02-18 15:44] RoboPhred commented on #157
Has this effort been abandoned?  I am looking to apply this to a potentially massive data set that uses immutable objects, so I particularly need the lack of cloning and reference reuse.

[2021-02-23 07:12] wikked1 commented on #263
I'm also hoping TypeScript might add a typedef for JsonObject and JsonValue, but here are some you could import or copy from other open source projects if you wanted to:

https://github.com/sindresorhus/type-fest/blob/5621e9e3f34c364a58b5dd73f7d4df89ce6e4a0d/source/basic.d.ts#L32
https://github.com/angular/angular-devkit-core-builds/blob/d9f9477ef7f966fc2ee7aedd47b3a9cb0ae31edf/src/json/interface.

[2021-04-16 14:17] fissssssh opened #272 "[BUG]generate error patch document when object has Date field"
i wrote this code:
[code]
and then output:
[code]
absolutly i didn't do anythiny but there are two patches,
so i view the source code found the error
file: src/duplex.ts line:128
[code]
should use `mirror.obj` instead `mirror.value`
please fix it as soon as possible.

[2021-04-19 09:54] JvJefke commented on #239
I had the same issue as described by chotuchaudhary.
Using the latest version on master fixed the issue, so I can verify it.

@Starcounter-Jack When will you be able to release this fix in a new version to NPM?
I noticed you already prepared the version some months ago but it isn't available on NPM yet.

[2021-05-25 10:20] Jeremias-Nater opened #275 "Compare with array generates wrong patches"
#### error scenario
The update on field "FirstName" is missing in this example:
[code]
#### Resulting Patches:
[code]

#### issue demo on runkit
https://runkit.com/embed/rn5u4rs7ypup

[code]

[2021-05-31 07:48] nicdumz commented on #216
PR #262 prevents another instance of this problem, as `/constructor/prototype/polluted` is still a way to achieve prototype pollution.

It would be great if we could merge it and/or address the underlying issue :-)

[2021-06-22 11:23] Venryx opened #277 "Named exports failing in Node 14.13.0+"
In Node v14.5.0, I used to be able to do the following, from a package with `type: "module"`:
[code]

However, after updating to Node v14.17.1, the named-import above fails:
[code]

The problem seems to be that Node:
1) Looks at the `main` field rather than the `module` field. (unintuitive since the package doing the importing is of `type: module`, but I guess this is part of their `main`->`export

[2021-07-29 13:06] lucactusss commented on #267
Hi !

I saw that the issue is fixed on the master branch. However there isn't a release for almost 2 years...

@Starcounter-Jack Do you think you could make a new one, in order to get the new version ?

Thanks in advance :)

[2021-08-06 14:08] t-knapp opened #278 "[Possible Bug] Comparison of luxon DateTime objects"
Hello world,

I'd like to thank all contributors for that awesome library.

Unfortunately I think I encountered a bug, not sure: In an application, I work a lot with luxons DateTime objects (see: https://moment.github.io/luxon/#/) to represent dates. When it comes to comparison of two objects with a prop of DateTime object, the output operation array seems to be wrong.

Here is a Codesandbox attac

[2021-08-11 10:30] NicBright opened #279 "Replace mistreats properties that are set to "undefined""
From the JSON patch spec (Section 4.3):
https://datatracker.ietf.org/doc/html/rfc6902#section-4.3

Here it says: "The target location MUST exist for the operation to be successful."

Now I've run into the following issue which is best explained with a screenshot from my debugging session:
![image](https://user-images.githubusercontent.com/1225659/129013873-05fa77a7-4dc3-4a15-adf7-f447bc9ce026.png)

[2021-08-13 07:44] Starcounter-Jack commented on #267
@lucactusss
There is a new version going out today

[2021-08-13 07:44] #267 closed

[2021-08-16 07:05] Starcounter-Jack commented on #279
Tricky. A property set to ```undefined``` falls outside the spec as ```undefined``` is not a valid JSON value (https://datatracker.ietf.org/doc/html/rfc4627). I.e. the "shaden" value is not really well defined with respect to RFC6902 or RFC4627 .

The fact that a property is not inherited is not really relevant with respect to JSON Patch, so I don't believe that it is the appropriate way. It might

[2021-08-16 07:31] Starcounter-Jack commented on #279
I do agree that it could be argued that the target do exist, but a target does also exist if the property is defined by means rendering ```hasOwnProperty()``` to return false (such as for example getters and setters).

There are basically four ways of checking if a property exists. You could use ```hasOwnProperty```, you could use ```in```, you could see if the ```typeof``` yields `undefined` and

[2021-08-16 07:31] #279 closed

[2021-08-16 09:31] NicBright opened #280 "compare() creates PATCHES that cannot be applied immediately afterwards"
Thanks @Starcounter-Jack for your quick response in #279 and for the thoughts you've given this! I think you're right, from the point of view of JSON specification `undefined` is not a valid value and therefore properties with value `undefined` need to be treated as "inexistent".

Nevertheless, I think there's still a problem there in the way how fast-json-patch creates patches. (From the point of

[2021-09-01 10:15] udbhav-s opened #281 "Add user-defined hooks into the deepClone function"
I'm using fast-json-patch with an object where I need to remove some private properties on the server before generating the patch and sending it to the client - adding a hook for the clone function would allow people to transform the object before patches are generated, which would remove the need for redundantly deep cloning the object and then passing it into jsonpatch. Users could also use this

[2021-09-13 20:38] stbrody opened #282 "Inefficient patch encoding when prepending to arrays"
When adding an element to the *beginning* of an array, the resulting patch contains the full contents of the array, thus the storage requirements of the resulting patch scales with the size of the *original* array, not with the size of the *diff* between the arrays.  Compare this with adding an element to the end of an array, where the resulting patch only contains data that scales with the size o

[2021-09-14 03:05] polei opened #283 "rrrr"

[2021-09-14 03:06] polei commented on #283
1111

[2021-09-14 03:10] #283 closed

[2021-09-30 12:33] GeorchW commented on #157
To anyone seeing this: If you want structural sharing, you can use [`immer`](https://github.com/immerjs/immer)'s applyPatches function ([docs](https://immerjs.github.io/immer/patches)). It's not completely RFC-conformant since it uses a different path format, but they can be easily converted like this (example in typescript):

[code]

Immer definitely uses structural sharing and thus does not clon

[2021-10-05 10:41] ViktorQvarfordt opened #286 "Add performance comparison with jsondiffpatch"
The performance comparison should include a comparison with https://github.com/benjamine/jsondiffpatch

I'd be happy to do the work but the links to the existing performance comparisons are broken (https://run.perf.zone/view/JSON-Patch-Add-Operation-1535541298893)

[2021-11-02 13:48] KpjComp opened #287 "Array patching, over empty elements.."
has a slight problem with empty array elements and applying diffs.

Lets assume we have we have an array `[1,,3,,5]`,  and then create a patch for `[1,,3,,5,,7,,9]`, The patch created is correct, eg:  add for array element 6 & 8 with values 7 & 9.  But if we apply this patch to the original, you will get `[1,,3,,5,7,9]`..   IOW: it will scrunch the newly added array elements and put the first arra